.standartPaddingMixin {
    padding-left: 132px;
    padding-right: 196px;
}

@orangeColor: #f47840;
@bkgColor: #f3f2f1;
@greyColor: #414142;
@lightGreyColor: #b2b3b5;
@roundsColor: #c46f29;
@blackColor: #000000;
@whiteColor: #ffffff;
@greyMiddleColor: #a89692;

.heading4Mixin {
    color: @orangeColor;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.btnMixin {
                display: block;
                text-decoration: none;
                height: 40px;
                width: 150px;
                font-size: 16px;
                text-transform: uppercase;
                line-height: 40px;
                border: 1px solid @orangeColor;;
                border-radius: 10px;
                background: linear-gradient(to bottom, rgba(254,204,177,1) 0%,rgba(241,116,50,1) 31%,rgba(234,85,7,1) 63%,rgba(251,149,94,1) 100%);
                color: @bkgColor;
                text-align: center;
                margin: 0 auto;
                 &:hover {
                        background: linear-gradient(to bottom, rgba(250,198,149,1) 0%,rgba(245,171,102,1) 38%,rgba(239,141,49,1) 100%);
                         cursor: pointer;
                        transform: scale(1.1, 1.1);
                        transition-duration: 1s;
                        }
            }


.respond-to(@device, @content) {
  & when (@device = phones) {
    @media all and (max-width: 479px) { @content(); }
  }
  & when (@device = wide-phones) {
    @media all and (min-width: 480px) and (max-width: 767px) { @content(); }
  }
  & when (@device = tablets) {
    @media all and (min-width: 768px) and (max-width: 991px) { @content(); }
  }
  & when (@device = small-desktops) {
    @media all and (min-width: 992px) and (max-width: 1199px) { @content(); }
  }
  & when (@device = lg-desktops) {
    @media all and (min-width: 1200px) and (max-width: 1440px) { @content(); }
  }
  & when (@device = xlg-desktops) {
    @media all and (min-width: 1441px) { @content(); }
  }
}
