@import "_extrastyles";

* {
    margin: 0;
    padding: 0;
}

html,
body,
.resumeContainer {
    height: 100%;
}

body {

    font-family: 'Montserrat', sans-serif;
    background: url('../img/Ellipse2.png') no-repeat top left,
    url('../img/Ellipse1.png') no-repeat top left,
    url('../img/Ellipse3.png') no-repeat top right,
    url('../img/Ellipse4.png') no-repeat top right,
    linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background-size: 46%,
    23%,
    34%,
    57%;


    width: 100%;

    .resumeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .resumeContent {
            flex: 1;

            header {
                padding-top: 50px;

                .menuWrap {


                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    padding-top: 10px;
                    background: linear-gradient(to bottom, rgba(249, 252, 247, 1) 0%, rgba(245, 249, 240, 1) 100%);
                    margin: 0 auto;

                    a {
                        color: #000000;
                        font-size: 25px;
                        font-weight: 700;
                        text-align: justify;
                        text-decoration: none;
                        padding: 10px 20px 20px 20px;

                        &:hover {
                            color: @greyMiddleColor;
                        }



                    }
                }
            }
            .helloThere {
                padding-top: 50px;


                .helloWrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    .helloImg {
                        width: 350px;



                        img {
                            border: 10px solid @whiteColor;
                            border-radius: 50%;

                        }
                    }

                    .helloText {
                        h2 {
                            color: @orangeColor;
                            font-size: 43px;
                            font-weight: 700;
                            text-align: justify;
                            text-transform: uppercase;
                            padding-top: 30px;
                            .respond-to(phones,
                                {
                                font-size: 20px;
                            }
                            );

                        }
                        h3 {
                            color: @greyColor;
                            font-size: 30px;
                            font-weight: 700;
                            text-align: justify;
                            .respond-to(phones,
                                {
                                font-size: 20px;
                            }
                            );
                        }

                    }
                }
            }

            .description {
                padding-top: 50px;

                .descriptionWrap {
                    display: flex;
                    justify-content: space-between;
                    .descriptionText {
                        color: @greyMiddleColor;
                        font-size: 18px;
                        font-weight: 400;
                        text-align: left;
                        h4 {
                            .heading4Mixin();
                        }

                    }
                    .descriptionShort {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .descriptionUnit {
                            width: 50px;
                            height: 50px;
                            border: 2px solid @orangeColor;
                            border-radius: 50%;
                            background-color: @orangeColor;
                            color: @bkgColor;
                            font-size: 27px;
                            line-height: 50px;
                            font-weight: 700;
                            text-align: center;
                            margin: 10px;

                        }
                    }
                }
            }
            .resumeInfo {
                padding-top: 50px;
                padding-bottom: 50px;
                .workAndEducation {
                    .workExperience {
                        h4 {
                            .heading4Mixin();

                        }
                        .lines {
                            width: 90%;
                            height: 1px;
                            background-color: @greyColor;
                        }
                        .workUnit {
                            color: @greyColor;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: left;
                            padding: 10px;
                            .workYear {
                                padding-left: 10px;
                                font-weight: 600;
                                color: @blackColor;
                            }
                            .notRelevant {
                                font-style: italic;
                                font-size: 14px;
                                font-weight: 200;
                                color: @greyMiddleColor;
                            }
                            div {
                                p {
                                    color: @greyMiddleColor;
                                }
                            }
                        }
                    }
                    .education {
                        padding-top: 50px;
                        padding-bottom: 30px;
                        h4 {
                            .heading4Mixin();
                        }
                        .lines {
                            width: 90%;
                            height: 1px;
                            background-color: @greyColor;
                        }
                        .educationUnit {
                            color: @greyColor;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: left;
                            padding: 10px 65px 10px 10px;
                            .workYear {
                                padding-left: 10px;
                                font-weight: 600;
                                color: @blackColor;
                            }
                            div {
                                p {
                                    color: @greyMiddleColor;
                                }
                            }
                        }
                    }
                }

                aside {
                    .mySkills {

                        h4 {
                            .heading4Mixin();
                        }
                        .lines {
                            width: 100%;
                            height: 1px;
                            background-color: @greyColor;
                        }
                        .skillsMeter {
                            padding-top: 5px;
                            font-weight: 600;
                            color: @blackColor;
                            meter {
                                width: 100%;
                            }
                        }
                    }
                    .interests {
                        padding-top: 50px;

                        h4 {
                            .heading4Mixin();
                        }
                        .lines {
                            width: 100%;
                            height: 1px;
                            background-color: @greyColor;
                        }
                        .interestWrap {
                         display: flex;

                            .interest {
                                font-weight: 400;
                                color: @greyMiddleColor;
                                font-size: 11px;
                                padding: 30px 0 0 14px;
                                text-align: center;
                                line-height: 20px;
                                

                                .respond-to(phones,
                                    {
                                    padding: 30px 0 20px 30px;
                                }
                                );
                                .respond-to( wide-phones,
                                    {
                                    padding: 30px 10px 20px 40px;
                                    

                                    }
                                     );
                                .respond-to(tablets,
                                    {
                                    padding: 30px 0 20px 30px;

                                    }
                                     );

                                .respond-to(small-desktops,
                                    {
                                    padding: 30px 0 20px 5px;
                                    

                                    }
                                     );

                                                                

                                
                                i {
                                    font-size: 25px;
                                    color: @greyColor;
                                    text-align: center;

                                    .respond-to(phones,
                                        {
                                        font-size: 25px;
                                    }
                                    );
                                    .respond-to(small-desktops,
                                    {
                                    font-size: 20px;

                                    }
                                     );
                                }
                            }
                        }

                    }
                    .socialLinks {
                        padding-top: 50px;
                        h4 {
                            .heading4Mixin();

                        }
                        .lines {
                            width: 100%;
                            height: 1px;
                            background-color: @greyColor;
                        }
                        .socialWrap {

                            .socialIcon {
                                display: flex;
                                div {
                                    font-weight: 800;
                                    font-size: 14px;
                                    color: @greyColor;
                                    padding: 5px;
                                    i {
                                        font-weight: 400;
                                        font-size: 25px;
                                        color: @greyMiddleColor;
                                        padding-top: 5px;

                                    }
                                }
                            }

                        }

                    }
                }
            }
            .myContacts {
                h2 {
                    color: @orangeColor;
                    font-size: 43px;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    padding-top: 30px;
                    .respond-to(phones,
                        {
                        font-size: 30px;

                    }
                    );
                }

                .contactsList {
                    padding-bottom: 50px;
                    p {
                        font-weight: 600;
                        font-size: 18px;
                        color: @greyColor;
                        line-height: 20px;
                        padding: 50px 0 30px 120px;
                        .respond-to(phones,
                            {
                            padding: 20px 10px;

                        }
                        );
                        .respond-to( wide-phones,
                            {
                            padding: 20px 10px;

                        }
                        );



                    }
                    div {
                        font-weight: 800;
                        font-size: 20px;
                        color: @greyColor;
                        padding: 10px 0 10px 120px;
                        text-align: left;
                        .respond-to(phones,
                            {
                            padding: 0;

                        }
                        );
                        i {

                            font-weight: 800;
                            font-size: 25px;
                            color: @orangeColor;
                            padding: 5px;
                        }
                    }
                }

            }


        }

        /*aboutme.html*/
        .gallery {
            width: 750px;
            margin: 0 auto;
            text-align: center;
            .respond-to(phones,
                {
                width: 100%;

            }
            );
            .respond-to( wide-phones,
                {
                width: 100%;

            }
            );

            h3 {
                padding-bottom: 20px;
                .respond-to(phones,
                    {
                    padding: 0;

                }
                );
                .respond-to( wide-phones,
                    {
                    padding: 0;

                }
                );
            }


            .photos {
                position: relative;
                height: 400px;
                .respond-to(phones,
                    {
                    height: 300px;
                    
                   

                }
                );
                .respond-to( wide-phones,
                    {
                    height: 500px;
                    

                }
                );
                

                img {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    transition: opacity 1s;
                    .respond-to(phones,
                    {
                   


                }
                );
                .respond-to( wide-phones,
                    {
                        


                }
                );
                }
                img.showed {
                    opacity: 1;
                }
            }
            .buttons {
                padding-top: 160px;
                .respond-to(phones,
                    {
                    padding: 0;

                }
                );
                .respond-to( wide-phones,
                    {
                    padding: 0;

                }
                );
                input[type="button"] {
                    background-color: @orangeColor;
                    border-radius: 25px;

                }
            }

        }





        /* portfolio.html */
        h2 {
            color: @orangeColor;
            font-size: 43px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            padding-top: 70px;
            .respond-to(phones,
                {
                font-size: 20px;
            }
            );

        }
        h3 {
            color: @greyColor;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            padding-top: 50px;
            .respond-to(phones,
                {
                font-size: 20px;
            }
            );
        }
        .interiorShop {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .interiorImg {
                background: url(../img/interior.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .interiorDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }

        .hotelAmarica {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .hotelImg {
                background: url(../img/hotelamarica.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .hotelDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }
        
        .constructionCompany {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .constructionImg {
                background: url(../img/construction.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .constructionDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }


        .productLanding {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .productImg {
                background: url(../img/plistarussia.png) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 10px 20px 20px 20px;
            }
            .productDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 20px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }

        .sandyqlab {
            padding-top: 50px;
            padding-bottom: 100px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .sandyqlabImg {
                background: url(../img/SandyqLab.png) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .sandyqlabDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 20px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }

        

        .medicare {
            padding-top: 50px;
            padding-bottom: 100px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .medicareImg {
                background: url(../img/medicare.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .medicareDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 20px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }



        .noughtsGame {
            padding-top: 50px;
            h4 {
                .heading4Mixin();


            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .noughtsImg {
                background: url(../img/noughtsgame.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .noughtsDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }
        .snakeGame {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .snakeImg {
                background: url(../img/snakegame.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .snakeDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }
        .chessGame {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .chessImg {
                background: url(../img/chessgame.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 20px;
            }
            .chessDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }
        .puzzleGame {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .puzzleImg {
                background: url(../img/puzzle.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 0px 20px 20px 20px;
            }
            .puzzleDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }

        .palindrome {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .palindromeImg {
                background: url(../img/palindrome.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 0px 20px 20px 20px;
            }
            .palindromeDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }


        .guessGame {
            padding-top: 50px;
            h4 {
                .heading4Mixin();

            }
            .lines {
                width: 90%;
                height: 1px;
                background-color: @greyColor;
            }
            .guessImg {
                background: url(../img/guess.JPG) no-repeat center;
                background-size: contain;
                width: 300px;
                height: 300px;
                margin: 0px 20px 20px 20px;
            }
            .guessDesc {
                color: @greyColor;
                font-size: 16px;
                font-weight: 400;
                text-align: left;
                margin: 20px;
                line-height: 25px;
                padding-top: 10px;
                ul > li {
                    list-style-type: decimal;
                }
            }
            a {
                .btnMixin();
            }
        }


        footer {
            background-color: @orangeColor;
            color: @whiteColor;
            font-size: 16px;
            text-align: center;
            padding: 10px;
            margin: 0 auto;
            margin-top: 50px;

        }
    }



}
