@import "_extraproductstyle";

body {
    background: #ccc;
}

.navbar.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    background-color: @darkColor;
    border: none;
    border-bottom: 1px solid @lightColor;

    .navbar-brand {
        color: @lightColor;
    }

    .navbar-nav {
        & > li {
            & > a {
                color: @lightColor;
            }
        }
    }
}

@adaptiveMargin: 30px;

.adaptiveHeadingMixin() {
    text-align: center;
    color: @darkColor;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: @adaptiveMargin;
}

.header1 {
    min-height: 223px;
    background: @darkColor;
    .sectionsMixin();

    .productName {
        color: @lightColor;
        font-size: 60px;
        font-weight: 400;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    }

    .productList {
        list-style: inside url("../images/check_icon.png");
        padding-left: 0;
        margin-top: 28px;
        color: @lightColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    }

    .headerImg {
        background: @lightColor;
        width: 469px;
        min-height: 214px;
        float: left;
        margin-top: @adaptiveMargin;

        .respond-to(phones,
            {
            width: 100%;
        }
        );

        .respond-to(wide-phones,
            {
            width: 100%;
        }
        );

        .respond-to(small-desktops,
            {
            width: 440px;
        }
        );

        .respond-to(lg-desktops,
            {
            float: right;
            margin-top: 0;
        }
        );

        .respond-to(xlg-desktops,
            {
            float: right;
            margin-top: 0;
        }
        );
    }
}

.about {
    .sectionsMixin();

    .aboutProduct {
        .aboutHeader {
            .headingMixin();
        }

        p {
            color: @darkColor;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 15px;
        }

    }


    .aboutImg {
        background: @darkColor;
        min-height: 245px;

        .respond-to(tablets,
            {
            margin-top: @adaptiveMargin;
        }
        );

        .respond-to(wide-phones,
            {
            margin-top: @adaptiveMargin;
        }
        );

        .respond-to(phones,
            {
            margin-top: @adaptiveMargin;
        }
        );
    }
}

.plusesProduct {
    .sectionsMixin();
    background: @whiteColor;

    h2 {
        .adaptiveHeadingMixin();
    }

    .plusProduct {
        margin-bottom: 35px;
        background: url("../images/plus_icon.gif") no-repeat left 5px;
        padding: 0 15px 0 40px;
        box-sizing: border-box;
        text-align: justify;
    }
}

.screenshots {
    .sectionsMixin();

    h2 {
        .adaptiveHeadingMixin();

    }

    .screenshot {
        color: @darkColor;
        padding: 30px 16px 0 0;
        box-sizing: border-box;
        float: left;

        .screenshotImg {
            background: @darkColor;
            width: 100%;
            height: 150px;

            .respond-to(wide-phones,
                {
                width: 50%;
            }
            );
        }

        .screenshotText {
            width: 100%;

            h3 {
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                margin: 0;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: justify;
            }
        }
    }
}

.reviews {
    .sectionsMixin();
    background: #f5f5f5;

    h2 {
        .adaptiveHeadingMixin();
    }

    .reviewImg {
        border-radius: 50%;
        background: @darkColor;
        width: 100px;
        height: 100px;
        float: right;

        .respond-to(wide-phones,
            {
            float: none;
            margin: 0 auto;
            width: 150px;
            height: 150px;
        }
        );

        .respond-to(phones,
            {
            float: none;
            margin: 0 auto;
            width: 150px;
            height: 150px;
        }
        );
    }

    @reviewBackColor: #ebebeb;
    .review {
        position: relative;
        color: @darkColor;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        background: @reviewBackColor;
        padding: 16px;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: @adaptiveMargin;

        .respond-to(wide-phones,
            {
            margin-top: @adaptiveMargin;
        }
        );

        .respond-to(phones,
            {
            margin-top: @adaptiveMargin;
        }
        );

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: -10px;
            top: 27px;
            background: @reviewBackColor;
            transform: rotate(45deg);

            .respond-to(wide-phones,
                {
                top: -10px;
                left: 48.5%;
            }
            );

            .respond-to(phones,
                {
                top: -10px;
                left: 46.5%;
            }
            );
        }

        .reviewAuthor {
            color: #989898;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }
    }
}

.buy {
    .sectionsMixin();

    h2 {
        .adaptiveHeadingMixin();
    }

    .buyUnits {
        width: 990px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .respond-to(small-desktops,
            {
            width: 50%;
            flex-direction: column;
            align-items: flex-start;
        }
        );

        .respond-to(tablets,
            {
            width: 80%;
            flex-direction: column;
            align-items: flex-start;
        }
        );

        .respond-to(wide-phones,
            {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
        );

        .respond-to(phones,
            {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
        }
        );

        .buyUnit {
            width: 298px;
            background: @darkColor;
            border-radius: 4px;
            border: 2px solid @darkColor;

            .respond-to(small-desktops,
                {
                width: 100%;
                margin-bottom: @adaptiveMargin;
            }
            );

            .respond-to(tablets,
                {
                width: 100%;
                margin-bottom: @adaptiveMargin;
            }
            );

            .respond-to(wide-phones,
                {
                width: 100%;
                margin-bottom: @adaptiveMargin;
            }
            );

            .respond-to(phones,
                {
                width: 100%;
                margin-bottom: @adaptiveMargin;
            }
            );

            h3 {
                padding: 17px;
                box-sizing: border-box;
                text-align: center;
                color: @lightColor;
                font-size: 24px;
                font-weight: 400;
                line-height: 30px;
                margin: 0;
            }

            .buyPrice {
                text-align: center;
                padding: 18px;
                box-sizing: border-box;
                color: @darkColor;
                background: @lightColor;
                font-size: 40px;
                font-weight: 400;
                line-height: 30px;
            }

            p {
                color: @lightColor;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding: 20px;
                box-sizing: border-box;
            }

            .buyBtn {
                border-radius: 4px;
                text-align: center;
                text-transform: uppercase;
                padding: 14px;
                box-sizing: border-box;
                background: @lightColor;
                color: @darkColor;
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                display: block;
                margin: 20px;
                text-decoration: none;
            }
        }
    }
}

footer {
    .sectionsMixin();
    background: @darkColor;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    h2 {
        .adaptiveHeadingMixin();
        color: @lightColor;
    }

    .contacts {
        div {
            form {
                input[type="text"],
                textarea {
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    margin-bottom: 21px;
                    padding: 7px 5px;
                    box-sizing: border-box;
                    color: @darkColor;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    outline: none;
                }

                textarea {
                    font-family: Arial, sans-serif;
                    min-height: 170px;
                }

                input[type="submit"] {
                    .submitButtonMixin();
                }
            }
        }
    }



    .contactsWrap {

        .respond-to(wide-phones,
            {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        );

        .respond-to(phones,
            {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        );

        .contactsList {

            .respond-to(wide-phones,
                {
                margin-top: @adaptiveMargin;
            }
            );

            .respond-to(phones,
                {
                margin-top: @adaptiveMargin;
            }
            );

            & > div {
                margin-bottom: 15px;
            }

            .skype,
            .icq,
            .email,
            .phone {
                padding-left: 30px;
                color: @lightColor;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }

            .skype {
                background: url("../images/skype_icon.png") no-repeat left center;
            }

            .icq {
                background: url("../images/icq_icon.png") no-repeat left center;
            }

            .email {
                background: url("../images/email_icon.png") no-repeat left center;
            }

            .phone {
                background: url("../images/phone_icon.png") no-repeat left center;
            }

            .socialIcons {
                margin-top: 30px;
                font-family: SocialIco, sans-serif;
                color: @lightColor;
                font-size: 60px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
}

.copy {
    height: 26px;
    text-align: center;
    color: @darkColor;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 26px;
    background: @whiteColor;
}
