body {
    background-color: blanchedalmond;
    font-family: serif;
    color: blanchedalmond;
}
h2 {
    color: brown;
    text-align: center;
    text-transform: uppercase;
}
.gameNoughts {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    height: 20px;
    color: black;
}

.boardNoughts {
    margin: 20px auto 0;
    
    width: 500px;
    height: 500px;
}

.btnNoughts {
    display: inline-block;
    margin: 10px auto;
    padding: 7px 14px;
    border-radius: 5px;
    border: 1px solid brown;
    font-size: 18px;
    cursor: pointer;
    color: brown;
}

.btnNoughts:hover {
    background-color: brown;
    color: blanchedalmond;
}
.btnNoughtsWrap {
    text-align: center;
}

.innerCellNoughts {
    width: 100%;
    height: 100%;
    border: 2px dotted darkred;
    font-size: 11em;
    text-align: center;
    line-height: 1em;
    background-color: coral;
}

.cellNoughts {
    background-color: coral;
    width: 33.3%;
    height: 33.3%;
    float: left;
}