body {
    padding: 0;
    margin: 0;
    background-color: #f3f2f1;
    color: #414142;
    width: 100%;
}

h2 {
    font-size: 43px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    color: #f47840;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    padding-left: 100px;
}

#puzzleBox p {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 10px 100px 0 100px;
}

#puzzleBox a {
    display: block;
    text-decoration: none;
    height: 40px;
    width: 150px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(254, 204, 177, 1) 0%, rgba(241, 116, 50, 1) 31%, rgba(234, 85, 7, 1) 63%, rgba(251, 149, 94, 1) 100%);
    color: #f3f2f1;
    text-align: center;
    margin-left: 100px;
    
}

#puzzleBox a:hover {
    background: linear-gradient(to bottom, rgba(250, 198, 149, 1) 0%, rgba(245, 171, 102, 1) 38%, rgba(239, 141, 49, 1) 100%);
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition-duration: 1s;
}

#puzzleBox input[type="text"]{
    margin-left: 100px;
    width: 60%;
    height: 25px;
}

details {
     margin-left: 100px;
    color:  #414142;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 10px;
}
summary {
    color: #f47840;
}