@import "extramedicare";

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: @stPadding;
  box-sizing: border-box;
  //background: #ccc;

  header {
    width: 100%;
    float: left;
    //background: #ffc230;

    .headerWrap {
      .insideWrapMixin();
      //background: #87ff99;

      .logoContactsWrap {
        display: grid;
        grid-gap: @stGap;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .respondTo(small-desktops, {
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr 1fr;
        });

        .respondTo(tablets, {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
        });

        .customRespond(0, 767px, {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
        });

        .logo {
          display: block;

          .respondTo(small-desktops, {
            grid-column-start: 1;
            grid-column-end: -1;
          });

          .respondTo(tablets, {
            grid-column-start: 1;
            grid-column-end: -1;
          });
        }

        .contactWrap {
          padding-left: 60px;
          height: 51px;
          font-family: @mainFont;
          font-size: 15px;
          color: @mainColor;
          padding-top: 5px;
          box-sizing: border-box;

          .headLine {
            font-family: @mainFontBold;
          }
        }

        .workTime {
          background: url(../images/workTime.png) no-repeat left center;

          .respondTo(tablets, {
            grid-column-start: 1;
            grid-column-end: -1;
          });
        }
        .mailUs {
          background: url(../images/mailUs.png) no-repeat left center;
        }
        .callUs {
          background: url(../images/callUs.png) no-repeat left center;
        }
      }

      .divider {
        background-color: rgba(194, 194, 194, 0.31);
        height: 2px;
        margin-top: @stGap;
      }

      .navSocials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //background: #eeb9a4;

        .customRespond(0, 877px, {
          flex-direction: column;
          justify-content: flex-start;
        });

        .mainMenu a {
          font-family: @headerFont;
          font-size: 20px;
          color: @headerColor;
          text-decoration: none;
          padding: 0 @stPadding;
          display: inline-block;
          height: 90px;
          line-height: 90px;
          //background: #619eee;

          &:hover {
            color: @headerHoverColor;
          }

          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }

          .customRespond(0, 702px, {
            display: block;
            height: 40px;
            line-height: 40px;
            padding: 0;
          });

          .customRespond(702px, 877px, {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 @stPadding;
          });
        }

        .socialLinks a {
          text-decoration: none;
          font-size: 23.34px;
          color: @iconsColor;
          margin: 0 5px;
          display: inline-block;
          height: 90px;
          line-height: 90px;

          .customRespond(702px, 877px, {
            height: 40px;
            line-height: 40px;
          });

          .customRespond(0, 702px, {
            height: 40px;
            line-height: 40px;
          });

          &:hover {
            color: @mainColor;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .medicarePlan {
    width: calc(100% ~"+" 40px);
    float: left;
    height: 640px;
    background: url(../images/medicarePlan-1.jpg) no-repeat center center;
    background-size: cover;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    animation: medicalCare 30s linear infinite 0s;

    @keyframes medicalCare {
      0% {
        background: url(../images/medicarePlan-1.jpg) no-repeat center center;
        background-size: cover;
      }
      16% {
        background: url(../images/medicarePlan-1.jpg) no-repeat center center;
        background-size: cover;
      }
      33% {
        background: url(../images/medicarePlan-2.jpg) no-repeat center center;
        background-size: cover;
      }
      49% {
        background: url(../images/medicarePlan-2.jpg) no-repeat center center;
        background-size: cover;
      }
      66% {
        background: url(../images/medicarePlan-3.jpg) no-repeat center center;
        background-size: cover;
      }
      81% {
        background: url(../images/medicarePlan-3.jpg) no-repeat center center;
        background-size: cover;
      }
      100% {
        background: url(../images/medicarePlan-1.jpg) no-repeat center center;
        background-size: cover;
      }
    }

    .medicarePlanWrap {
      .insideWrapMixin();
      height: inherit;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .medicareOffer {
        text-align: center;
        color: @headerMedColor;
        padding-left: @stPadding;

        .medicareHead {
          font-family: @headerFontMed;
          font-size: 47.69px;
        }

        .medicareText {
          font-family: @mainFont;
          font-size: 17px;
          margin-top: 37px;
          margin-bottom: 42px;
        }

        button {
          .btnMixin();
        }
      }
    }
  }

  .pluses {
    width: calc(100% ~"+" 40px);
    float: left;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    .gradientMixin();

    .plusesWrap {
      .insideWrapMixin();
      display: grid;
      grid-template-columns: repeat(4, minmax(150px, 1fr));

      .customRespond(768px, 1199px, {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
      });

      .customRespond(0, 768px, {
        grid-template-columns: minmax(150px, 1fr);
      });

      .plusesUnit {
        padding: 60px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .plusesIcon {
          width: 75px;
          height: 75px;
          background-size: contain;
        }

        .bestTreatment {
          background: url(../images/bestTreatment.png) no-repeat center center;
        }
        .emergencyHelp {
          background: url(../images/emergencyHelp.png) no-repeat center center;
        }
        .medicalStaff {
          background: url(../images/medicalStuff.png) no-repeat center center;
        }
        .qualifiedDoctors {
          background: url(../images/qualifiedDoctors.png) no-repeat center center;
        }

        .plusesUnitHead {
          font-family: @headerFontBold;
          font-size: 30px;
          color: @lightColor;
          text-align: center;
          margin: 30px 0;
        }

        .plusesUnitDesc {
          font-size: 14px;
          font-family: @mainFont;
          text-align: center;
          color: @lightColor;
        }
      }
    }
  }

  .whyChooseUs {
    width: 100%;
    float: left;

    .whyHead {
      font-family: @headerFontBold;
      font-size: 45px;
      text-align: center;
      color: @headerMedColor;
      margin-top: 111px;
      margin-bottom: 31px;
    }

    .whyDesc {
      text-align: center;
      font-family: @mainFont;
      color: @mainColor;
      margin-bottom: 25px;
    }

    .whyInside {
      @doctorHeight: 598px;
      @firstBreak: 1003px;
      @secondBreak: 770px;

      .insideWrapMixin();
      display: grid;
      grid-template-columns: 1fr 337px 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: @stGap;

      .customRespond(@secondBreak + 1px, @firstBreak, {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: @doctorHeight 1fr 1fr;
      });

      .customRespond(0, @secondBreak, {
        grid-template-columns: 1fr;
        grid-template-rows: @doctorHeight 1fr 1fr;
      });

      .whyInsideUnit {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .customRespond(0, @secondBreak, {
          align-items: center;
        });

        .whyInsideHead {
          padding-left: 95px;
          font-family: @headerFontBold;
          font-size: 30px;
          color: @headerColor;
          height: 75px;
          line-height: 75px;
        }
        .choose1 {
          background: url(../images/choose1.png) no-repeat left center;
        }
        .choose2 {
          background: url(../images/choose2.png) no-repeat left center;
        }
        .choose3 {
          background: url(../images/choose3.png) no-repeat left center;
        }
        .choose4 {
          background: url(../images/choose4.png) no-repeat left center;
        }

        .whyInsideDesc {
          font-family: @mainFont;
          color: @mainColor;
          font-size: 16px;
          margin-top: @stGap;
        }
      }

      .whyDoctor {
        background: url(../images/chooseUsDoctor.png) no-repeat center bottom;
        height: @doctorHeight;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: end;

        .customRespond(@secondBreak + 1px, @firstBreak, {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        });

        .customRespond(0, @secondBreak, {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        });
      }
    }
  }

  .progress {
    width: calc(100% ~"+" 40px);
    float: left;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    min-height: 792px;
    background: url(../images/achievements.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;

    .progressWrap {
      .insideWrapMixin();
      min-height: inherit;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @firstBreak: 1100px;
      @secondBreak: 600px;

      .customRespond(@secondBreak + 1px, @firstBreak, {
        grid-template-columns: repeat(2, 1fr);
      });

      .customRespond(0, @secondBreak, {
        grid-template-columns: 1fr;
      });

      .progressUnit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .progressIcon {
          width: 120px;
          height: 120px;
        }
        .happyCustomers {
          background: url(../images/happyCustomers.png) no-repeat center center;

        }
        .topHospitality {
          background: url(../images/topHospitality.png) no-repeat center center;
        }
        .innovateApproach {
          background: url(../images/innovateApproach.png) no-repeat center center;
        }
        .lungReplacement {
          background: url(../images/lungReplacement.png) no-repeat center center;
        }

        .progressCounter {
          font-family: @headerFontMed;
          font-size: 60px;
          color: @lightColor;
          text-align: center;
          margin-top: 27px;
          margin-bottom: 27px;
        }

        .progressDivider {
          width: 84px;
          height: 6px;
          background-color: @lightColor;
          margin-bottom: 27px;
        }

        .progressText {
          font-family: @headerFontMed;
          color: @lightColor;
          font-size: 25px;
          text-align: center;
        }
      }
    }
  }

  .weWork {
    width: 100%;
    float: left;

    .weWorkInside {
      .insideWrapMixin();
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: @stGap;
      padding-top: 100px;
      grid-template-areas:
        "workHead workHead ourCreativeHead"
        "workDesc workDesc creativeDesc"
        "worksUnit1 worksUnit2 heartTreatment"
        "worksData1 worksData2 heartTreatmentWrap"
        "weWorkReadMore weWorkReadMore ."
      ;

      @firstBreak: 990px;
      @secondBreak: 746px;

      .customRespond(@secondBreak, @firstBreak, {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "workHead workHead"
          "workDesc workDesc"
          "ourCreativeHead ourCreativeHead"
          "creativeDesc creativeDesc"
          "worksUnit1 worksUnit2"
          "worksData1 worksData2"
          "heartTreatment heartTreatmentWrap"
          "weWorkReadMore weWorkReadMore"
        ;
      });

      .customRespond(0, @secondBreak, {
        grid-template-columns: 1fr;
        grid-template-areas:
          "workHead"
          "workDesc"
          "ourCreativeHead"
          "creativeDesc"
          "worksUnit1"
          "worksData1"
          "worksUnit2"
          "worksData2"
          "heartTreatment"
          "heartTreatmentWrap"
          "weWorkReadMore"
        ;
      });

      .workHead {
        grid-area: workHead;
      }

      .workHead,
      .ourCreativeHead {
        font-family: @headerFontBold;
        font-size: 45px;
        color: @headerMedColor;
      }

      .workDesc {
        grid-area: workDesc;
      }

      .ourCreativeHead {
        grid-area: ourCreativeHead;
      }

      .creativeDesc {
        grid-area: creativeDesc;
      }

      .workDesc,
      .creativeDesc,
      .heartTreatmentText,
      .workItemsText {
        font-family: @mainFont;
        color: @mainColor;
        font-size: 16px;
        line-height: 32px;
      }

      .workUnit1,
      .workUnit2 {
        width: 334px;
        height: 210px;
      }
      .workUnit1 {
        background: url(../images/works1.jpg) no-repeat center center;
        background-size: 100%;
        grid-area: worksUnit1;
      }
      .workUnit2 {
        background: url(../images/works2.jpg) no-repeat center center;
        background-size: 100%;
        grid-area: worksUnit2;
      }

      .heartTreatment {
        grid-area: heartTreatment;

        .heartTreatmentHead {
          .heartMixin(#0087be, @lightColor);
        }
      }

      .worksData1 {
        grid-area: worksData1;
      }

      .worksData2 {
        grid-area: worksData2;
      }

      .workItems {
        .workItemsHead {
          font-family: @headerFontMed;
          color: @headerMedColor;
          font-size: 20px;
        }

        .workItemsDate {
          font-family: @headerFontMed;
          color: #0087be;
          font-size: 15px;
        }
      }

      .heartTreatmentWrap {
        grid-area: heartTreatmentWrap;

        .treatmentPoint {
          .heartMixin(#e2e2e2, @headerMedColor);
          margin-bottom: 12px;
        }
      }

      .weWorkReadMore {
        grid-area: weWorkReadMore;
        text-align: center;

        button {
          .btnMixin();
        }
      }
    }
  }

  .gallery {
    width: calc(100% ~"+" 40px);
    float: left;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    background: url(../images/galleryBack.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 100px;
    text-align: center;
    padding: 90px 0;

    .galleryHead {
      font-family: @headerFontBold;
      color: @lightColor;
      font-size: 45px;
      margin-bottom: 38px;
    }

    .galleryDesc {
      font-family: @mainFont;
      color: @lightColor;
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 54px;
      padding: 0 @stPadding;
    }

    .galleryInside {
      .insideWrapMixin();
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 37px;
      grid-column-gap: 34px;
      justify-items: center;

      .customRespond(810px, 1200px, {
        grid-template-columns: repeat(2, 1fr);
      });

      .customRespond(0, 810px, {
        grid-template-columns: 1fr;
      });

      .galleryImg {
        width: 344px;
        height: 209px;
        position: relative;
        //активируем 3d пространство внутри элемента
        perspective: 500px;

        .img {
          width: inherit;
          height: inherit;
        }

        &:hover img {
          transform: rotateY(-90deg);
          //элементы располагаются в трехмерном пространстве
          transform-style: preserve-3d;
          transition-duration: .5s;
          transition-timing-function: linear;
        }

        .galleryImgInside {
          transform: rotateY(90deg);
          padding: 20px;
          text-align: justify;
          box-sizing: border-box;
          .gradientMixin();
          color: @lightColor;
          font-family: @mainFont;
          position: absolute;
          left: 0;
          top: 0;
          width: inherit;
          height: inherit;
        }

        &:hover .galleryImgInside {
          transform: rotateY(0deg);
          transform-style: preserve-3d;
          transition-delay: .5s;
          transition-duration: .5s;
          transition-timing-function: linear;
        }
      }
    }
  }

  .ourTeam {
    width: 100%;
    float: left;
    text-align: center;
    padding: 100px 0;

    .ourTeamHead {
      font-family: @headerFontBold;
      color: @headerMedColor;
      margin-bottom: 49px;
      font-size: 45px;
    }

    .ourTeamDesc {
      font-family: @mainFont;
      color: @mainColor;
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 84px;
    }

    .ourTeamWrap {
      .insideWrapMixin();
      display: grid;
      grid-gap: @stGap;
      grid-template-columns: repeat(4, 1fr);

      .customRespond(660px, 1229px, {
        grid-template-columns: repeat(2, 1fr);
      });

      .customRespond(0, 659px, {
        grid-template-columns: 1fr;
      });

      .teamDoctors {
        position: relative;

        &:hover img {
          visibility: hidden;
          transform: translateY(-200px) scale(0, 0);
          transition-duration: 1s;
        }

        .teamUnitBackSide {
          position: absolute;
          visibility: hidden;
          width: 279px;
          height: 279px;
          border-radius: 50%;
          .gradientMixin();
          transform: scale(0, 0);
          transition-duration: 1s;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          button {
            .btnMixin();
          }
        }

        &:hover .teamUnitBackSide {
          visibility: visible;
          transform: scale(1, 1);
        }

        .doctorName {
          font-family: @headerFontMed;
          color: @mainColor;
          font-size: 25px;
          margin-top: 29px;
          margin-bottom: 15px;
        }

        .position {
          margin-bottom: 32px;
          font-family: @headerFontMed;
          color: @mainColor;
          font-size: 18px;
        }

        .doctorSocials a {
          font-size: 25px;
          color: #0087be;
          text-decoration: none;
          margin: 0 5px;
        }
      }
    }
  }

  .special {
    width: calc(100% ~"+" 40px);
    float: left;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    background: #e2e2e2;
    padding: 68px 0;

    .specialWrap {
      padding: 0 @stPadding;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      @break: 1075px;

      .customRespond(0, @break, {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      });

      .specialText {
        font-family: @headerFontBold;
        color: @headerColor;
        font-size: 30px;
      }

      button {
        .btnMixin();

        .customRespond(0, @break, {
          margin-top: @stGap;
        });
      }
    }
  }

  footer {
    width: calc(100% ~"+" 40px);
    float: left;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    background: #171717;


    .footerWrap {
      .insideWrapMixin();
      padding: 100px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      color: @headerColor;
      font-size: 16px;
      font-family: @mainFont;

      grid-template-areas:
        "getInTouch quickLinks ourServices enquiryForm"
      ;

      @firstBreak: 1239px;
      @secondBreak: 699px;

      .customRespond(@secondBreak, @firstBreak, {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "quickLinks ourServices"
          "getInTouch enquiryForm"
        ;
      });

      .customRespond(0, @secondBreak, {
        grid-template-columns: 1fr;
        grid-template-areas:
          "quickLinks"
          "ourServices"
          "getInTouch"
          "enquiryForm"
        ;

      });

      .getInTouch {
        grid-area: getInTouch;
        justify-self: center;
      }

      .footerHeader {
        font-family: @mainFontBold;
        color: @lightColor;
        font-size: 22px;
        margin-bottom: 65px;
      }

      .guickLinks {
        grid-area: quickLinks;
        justify-self: center;
      }

      .ourServices {
        grid-area: ourServices;
        justify-self: center;
      }

      .getContacts {
        .getMail {
          background: url(../images/inTouchMail.png) no-repeat left center;
          padding-left: 80px;
          box-sizing: border-box;
          margin-bottom: 50px;
        }

        .getPhone {
          background: url(../images/inTouchPhone.png) no-repeat 7px center;
          padding-left: 80px;
          box-sizing: border-box;
          margin-bottom: 50px;
        }

        .getLocation {
          background: url(../images/inTouchLocation.png) no-repeat 3px center;
          padding-left: 80px;
          box-sizing: border-box;
        }
      }

      .footerLinksWrap a {
        display: block;
        color: inherit;
        margin-bottom: 27px;
        text-decoration: none;
        background: url(../images/arrow.png) no-repeat left center;
        padding-left: 40px;
        box-sizing: border-box;

        &:hover {
          color: @lightColor;
        }
      }

      .enquiryForm {
        font-size: 14px;
        font-family: @mainFont;
        width: 231px;
        justify-self: center;
        grid-area: enquiryForm;

        textarea {
          font-family: inherit;
          height: 100px;
        }

        input[type="text"],
        textarea {
          color: @lightColor;
          outline: none;
          border: none;
          margin-bottom: 10px;
          background: transparent;
          width: 231px;
          border-bottom: 1px solid rgba(194, 194, 194, 0.42);

          &:focus {
            border-bottom: 1px solid #37c3a8;
            transition-duration: 1s;
          }
        }

        input[type="submit"] {
          .btnMixin();
        }
      }
    }
  }

  .copyrights {
    width: calc(100% ~"+" 40px);
    float: left;
    margin-left: -@stPadding;
    margin-right: -@stPadding;
    padding: 50px 0;
    box-sizing: border-box;
    color: @headerColor;
    font-size: 13px;
    font-family: @mainFont;
    text-align: center;
    background: #1a1a1a;
  }
}