html,
body,
.container {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Do Hyeon", sans-serif;
    background-color: lightblue;
    
    
}

.container {
    margin: 0 auto;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;

}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: url("img/background.jpg") no-repeat bottom;
    margin: 0 auto;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: darkgreen;
    text-transform: uppercase;
    text-align: center;
    
}

.snakeWrap {
  display: flex;
  background-color: #B1E357;
  justify-content: center;
  flex-direction: column;
}
.snakeMenu {
    display: flex;
   background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); ;
  padding-left: 10px;
}
.foodScores {
    background: url(img/food.png) center no-repeat;
    background-size: 27px;
  width: 28px;
  height: 32px;
    padding-top: 10px;
}

#gameScores {
   width: 35px;
  height: 35px;
  font-size: 25px;
  display: flex;
  align-items: center;
  color: lightgoldenrodyellow;
    padding-top: 7px;
}

.level {
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-left: 82px;
  color: lightgoldenrodyellow;
}
.nextLevelScore {
   display: flex;
  align-items: center;
  font-size: 22px;
  color: lightgoldenrodyellow; 
}

.nextLevel {
  display: flex;
  align-items: center;
  font-size: 22px;
  color: lightgoldenrodyellow; 
}
.nextLevelWrap {
display: flex;
  align-items: center;
  min-width: 188px;
  justify-content: flex-end; 
}

.foodScoresImg {
    background-size: 28px;
  margin-right: 10px; 
}

.trophy {
  background: url("img/trophey.png") no-repeat center;
  background-size: 30px;
  width: 30px;
  height: 40px;
}
#bestScore {
    font-size: 25px;
  display: flex;
  color: white;
    padding-top: 10px;
}
.gameOver {
  width: 270px;
  height: 230px;
  background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); 
  position: absolute;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.yourScore {
    position: absolute;
  top: 10px;
  font-size: 18px;
  color: green;
}

.chooseLevel {
  display: flex;
  justify-content: center;
  padding-left: 13px;
}

fieldset {
  position: relative;
  top: 30px;
  font-size: 18px;
  border-color: rgba(177, 255, 87, 0.56);
  color: white;
  border-style: dashed;
}

legend {
  position: relative;
  top: 14px;
  left: -2px;
}
.snakeLev {
    background: url(img/level1.png) no-repeat;
  background-size: 30px;
  width: 30px;
  height: 27px;
  margin: 4px;
  cursor: pointer;
   
}

.snakeFill {
    background: url(img/level1.png) no-repeat;
    background-size: 30px;
   
}
.snakeFree {
    background: url(img/level2.png) no-repeat;
    background-size: 30px;
    
}
#snakeField {
    margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 20px;
}

button {
width: 150px;
    padding: 15px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    float: left;
    display: inline-block;
  position: absolute;
  top: 40px;
}
.pause {
    color: white;
  font-size: 20px;
  text-transform: uppercase;
  visibility: hidden;
  position: absolute;
  z-index: 3;
}

.tableField {
     border-collapse: collapse;
}

td.game-table-cell {
    width: 25px;
    height: 25px;
    border: 1px solid #9b9b9b;
}

.game-table-cell-color-1 {
  background-color: lightblue;
}

.game-table-cell-color-2 {
  background-color: lightcyan;
}
.foodItem {
     background: url(img/food.png) center no-repeat white;
  background-size: 25px;
}
.wallItem {
      background: url(img/bomb.png) center no-repeat brown;
  background-size: 25px;
}
.snakesHead {
    background: url("img/snake1.png") no-repeat center;
  background-size: 22px;
}

.snakesBody {
    background: url(img/snake2.png) center no-repeat;
  background-size: 28px;
}

.snakesTurn {
    background: url(img/snake3.png) 0px -3px no-repeat white;
  background-size: 32px;
}

.snakesTale {
    background: url(img/snake4.png) center no-repeat white;
  background-size: 30px;
}

footer {
    min-width: 100%;
    max-height: 100px;
    background-color: lightsteelblue;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}