@font-face {
    font-family: "Futura (Light)";
    src: url("../style/fonts/FuturaLT.ttf");
}

$mainFont: "Futura (Light)";

@mixin standardPadding {
    padding-left: 215px;
    padding-right: 215px;
}


@mixin respondTo($_media) {
    @if $_media == phones {
      @media all and (max-width: 575px) { @content; }
    }
    @else if $_media == wide-phones {
      @media all and (min-width: 576px) and (max-width: 767px) { @content; }
    }
    @else if $_media == tablets {
      @media all and (min-width: 768px) and (max-width: 991px) { @content; }
    }
    @else if $_media == small-desktops {
      @media all and (min-width: 992px) and (max-width: 1199px) { @content; }
    }
    @else if $_media == lg-desktops {
      @media all and (min-width: 1200px) and (max-width: 1440px) { @content; }
    }
    @else if $_media == xlg-desktops {
      @media all and (min-width: 1441px) and (max-width: 1920px) { @content; }
    }
  }


@mixin customRespond($_minWidth, $_maxWidth) {
  @media all and (min-width: $_minWidth) and (max-width: $_maxWidth) {
    @content;
  }
}