@import "_addstyle.scss";
* {
    padding: 0;
    margin: 0;
}

body {
    width: 1600px;
    font-family: $mainFont, sans-serif;
    margin: 0 auto;

    @include respondTo(lg-desktops) {
        width: 100%;
    }
    @include respondTo (small-desktops) {
        width: 100%;
    }
    @include respondTo (tablets) {
        width: 100%;
    }
    @include respondTo (wide-phones) {
        width: 100%;
    }
    @include respondTo (phones) {
        width: 100%;
    }
}

.headerContacts {
    background-color: #ffcb0f;
    @include standardPadding;
    display: flex;
    justify-content: space-between;
    @include respondTo(phones) {
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }
    @include respondTo(wide-phones) {
        padding-left: 0;
        padding-right: 0;
    }
    @include respondTo(tablets) {
        padding-left: 10px;
        padding-right: 10px;

    }
    @include respondTo(small-desktops) {
        padding-left: 10px;
        padding-right: 10px;

    }
    @include respondTo (lg-desktops) {
        padding-left: 65px;
        padding-right: 65px;
    }



    .headerContact {
        color: #000000;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;

        div {
            margin: 10px;


            &:nth-child(1) {
                margin-left: 0;
                @include respondTo(phones) {
                    margin-left: 10px;
                }
                @include respondTo(wide-phones) {
                    margin-left: 10px;
                }
                @include respondTo(tablets) {
                    margin-left: 10px;
                }
                @include respondTo(small-desktops) {
                    margin-left: 10px;

                }


            }

            a {
                color: #222222;
                font-size: 19.99px;
                font-weight: 400;
                &:hover {
                    color: #696969;
                }
            }
        }
    }
    .socials {
        font-size: 19px;
        font-weight: 400;
        text-align: right;
        margin: 10px 0;


        div {
            display: flex;
            justify-content: flex-end;
            @include respondTo(phones) {
                justify-content: left;
                padding-left: 30px;
            }

            a {

                text-decoration: none;
                color: #222222;
                padding: 0 5px;

                &:hover {
                    color: #696969;
                }
            }
        }

    }
}

.headerMenu {
    background-color: #222533;
    @include standardPadding;
    @include respondTo(phones) {
        padding-left: 0;
        padding-right: 0;
    }
    @include respondTo(wide-phones) {
        padding-left: 10px;
        padding-right: 0;
    }
    @include respondTo(tablets) {
        padding-left: 10px;
        padding-right: 0;

    }
    @include respondTo(small-desktops) {
        padding-left: 10px;
        padding-right: 0;
    }
    @include respondTo (lg-desktops) {
        padding-left: 65px;
        padding-right: 65px;
    }

    display: flex;
    justify-content: space-between;

    div {
        padding-top: 30px;
        padding-bottom: 30px;
        @include respondTo(phones) {
            text-align: center;
        }
        @include respondTo(wide-phones) {
            text-align: center;
        }
    }
    nav {
        display: flex;
        justify-content: flex-end;


        .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 40px 0 0 0;
            list-style-type: none;
            @include respondTo(phones) {
                margin: 0 0 20px 0;
            }
            @include respondTo(wide-phones) {
                margin: 30px 0 0 0;
            }

            li {

                a {
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 24px;
                    text-align: left;
                    margin-left: 23px;
                    @include respondTo(phones) {
                        margin-left: 15px;
                    }
                    &:hover {
                        color: #ffcb0f;
                        font-size: 15px;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
    }

}

.construction {
    background: url(../../img/Layer9.jpg) top no-repeat;
    padding: 114px 280px 200px 280px;

    @include respondTo(phones) {
        padding: 20px 10px 20px 10px;
    }
    @include respondTo(wide-phones) {
        padding: 20px 10px 0 10px;
    }
    @include respondTo(tablets) {
        padding: 40px 10px 0 10px;
    }
    @include respondTo (small-desktops) {
        padding: 114px 10px 200px 10px;
    }
    @include respondTo (lg-desktops) {
        padding: 114px 65px 200px 65px;
    }



    h2 {
        color: #ffffff;
        font-size: 39.99px;
        font-weight: 300;
        line-height: 13.018px;
        text-align: center;
        padding-bottom: 31px;
        margin: 0 auto;
        @include respondTo(phones) {
            line-height: normal;
        }

    }
    h1 {
        color: #ffffff;
        font-size: 70px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        @include respondTo(phones) {
            font-size: 40px;

        }
        @include respondTo(wide-phones) {
            font-size: 65px;
        }
        @include respondTo(tablets) {
            font-size: 65px;
        }

        @include respondTo (small-desktops) {
            font-size: 65px;
        }
    }
    div {
        color: #ffcb0f;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        @include respondTo(phones) {
            line-height: normal;
            font-size: 40px;
        }
        @include respondTo(wide-phones) {
            line-height: normal;
        }
        @include respondTo(wide-phones) {
            font-size: 65px;
        }
        @include respondTo(tablets) {
            font-size: 65px;
        }
        @include respondTo (small-desktops) {
            font-size: 65px;
        }
    }
    p {
        color: #ffffff;
        font-size: 21px;
        font-weight: 300;
        text-align: center;
        padding-top: 30px;
    }
    .contstuctionBtn {
        margin: 0 auto;
        a {
            display: inline-block;
            color: #ffffff;
            font-size: 16px;
            letter-spacing: 0;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;
            background-color: #ffcb0f;
            width: 157px;
            height: 45px;
            margin: 35px;
            text-decoration: none;
            @include respondTo(phones) {
                margin: 5px;
            }
            &:hover {
                background-color: #696969;
            }
        }
    }
}

.welcome {
    @include standardPadding;
    margin-top: -27px;
    @include respondTo(phones) {
        padding-left: 0;
        padding-right: 0;
    }
    @include respondTo(wide-phones) {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
    @include respondTo(tablets) {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
    }
    @include respondTo (small-desktops) {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -15px;

    }
    @include respondTo (lg-desktops) {
        padding-left: 65px;
        padding-right: 65px;
    }

    .welcomeText {
        a {
            display: inline-block;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;
            background-color: #ffcb0f;
            width: 157px;
            height: 45px;
            margin-top: 25px;
            text-decoration: none;
            margin-bottom: 40px;
            text-transform: uppercase;
            &:hover {
                background-color: #696969;
            }
        }
        h2 {
            color: #ffcb0f;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            padding-top: 80px;
            @include respondTo(phones) {
                padding-top: 30px;
            }
            @include respondTo(tablets) {
                padding-top: 10px;

            }
            @include respondTo (small-desktops) {
                padding-top: 30px;
            }

        }
        h3 {
            color: #484848;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            padding-bottom: 20px;


            p {
                color: #484848;
                font-size: 15px;
                font-weight: 300;
                text-align: left;
            }
        }
    }
    .weclomeImg {
        img {
            height: 100%;
            padding-left: 155px;

            @include respondTo(phones) {
                padding-left: 50px;

            }
            @include respondTo(wide-phones) {
                padding-left: 200px;

            }
            @include respondTo(tablets) {
                padding-left: 10px;
                height: 80%;

            }
            @include respondTo(small-desktops) {
                padding-left: 50px;

            }
        }

        background: url(../../img/Layer_2.jpg) center no-repeat;
    }

}

.whyChooseUs {
    @include standardPadding;
    background-color: #f2f7fa;
    @include respondTo(phones) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include respondTo(wide-phones) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include respondTo(tablets) {
        padding-left: 10px;
        padding-right: 10px;

    }
    @include respondTo(small-desktops) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include respondTo (lg-desktops) {
        padding-left: 65px;
        padding-right: 65px;
    }

    h2 {
        padding: 70px 0 29px 0;
        color: #484848;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
    }
    p {
        color: #484848;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        padding-bottom: 20px;
    }
    .why {
        div {
            color: #484848;
            font-size: 50.01px;
            font-weight: 400;
            text-align: center;
            padding: 80px 0 78px 0;
            background: url(../../img/Layer1.JPG) center no-repeat;
            width: 230px;
            height: 230px;
            background-size: contain;
            @include respondTo(phones) {
                margin: 0 auto;
            }
            @include respondTo(wide-phones) {
                margin: 0 auto;
            }
            @include respondTo(tablets) {
                margin: 0 auto;

            }

        }
        h3 {
            color: #484848;
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            color: #484848;
            font-size: 15px;
            font-weight: 300;
            text-align: justify;
        }
    }
}

.ourServices {
    @include standardPadding;
    @include respondTo(phones) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respondTo(wide-phones) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respondTo(tablets) {
        padding-left: 20px;
        padding-right: 20px;

    }
    @include respondTo(small-desktops) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include respondTo (lg-desktops) {
        padding-left: 65px;
        padding-right: 65px;
    }

    h2 {
        color: #484848;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        padding: 70px 0 54px 0;
        margin: 0 auto;
    }
    .ourServicesItem {
        img {
            width: 100%;
            @include respondTo(wide-phones) {
                width: 70%;
            }
        }
        h3 {
            padding: 30px 0 20px 0;
            color: #484848;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
        }
        p {
            color: #484848;
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
        }
        a {
            display: inline-block;
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 45px;
            text-align: center;
            border-radius: 10px;
            background-color: #ffcb0f;
            width: 157px;
            height: 45px;
            text-decoration: none;
            text-transform: uppercase;
            margin: 15px 0 99px 0;
            &:hover {
                background-color: #696969;
            }
        }
    }
}

.madeWithLove {
    @include standardPadding;
    background: url(../../img/Layer3.jpg) repeat;
    height: 927px;

    @include respondTo(phones) {
        padding: 0 10px 10px 10px;
        height: 100%;

    }
    @include respondTo(wide-phones) {
        padding: 0 10px 10px 10px;
        height: 100%;

    }
    @include respondTo(tablets) {
        padding: 0 10px 10px 10px;
        height: 100%;

    }
    @include respondTo(small-desktops) {
        padding: 0 10px 50px 10px;
        height: 100%;
    }
    @include respondTo (lg-desktops) {
        padding-left: 65px;
        padding-right: 65px;
    }




    .madeText {
        margin: 0 auto;
        h2 {
            color: #ffffff;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            padding: 70px 0 35px 0;

        }
        p {
            color: #ffffff;
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;

        }
    }

    .madelinks {
        display: flex;
        justify-content: center;
        @include respondTo(phones) {
            flex-wrap: wrap;

        }

        a {
            width: 120px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            margin: 45px 5px 45px 5px;
            text-decoration: none;
            display: inline-block;
            height: 35px;
            line-height: 35px;
            &:nth-child(3) {
                width: 160px;
            }
            @include respondTo(phones) {
                margin: 5px;

            }


            &:hover {
                background-color: #282828;
                width: 120px;
                height: 35px;
                line-height: 35px;
                color: #ffffff;
                font-size: 15px;
                font-weight: 300;
                text-align: center;
                border-radius: 20px;
                &:nth-child(3) {
                    width: 160px;
                }
            }
        }
    }
    .madeImg {

        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "layer10 layer10 layer11 layer12" "layer10 layer10 layer13 layer14";

        @include respondTo(phones) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 1fr 1fr;
            grid-template-areas: "layer10 layer10" "layer11 layer12" "layer13 layer14";

        }


        img {
            width: 100%;

        }

        .layer10 {
            grid-area: layer10;
            height: 100%;

            @include respondTo(phones) {}
        }
        .layer11 {
            grid-area: layer11;
        }
        .layer14 {
            grid-area: layer14;
        }
        .layer12 {
            grid-area: layer12;
        }
        .layer13 {
            grid-area: layer13;
        }

    }

}

.customerReviews {
    @include standardPadding;
    background-image: url(../../img/Layer17.jpg);
    height: 100%;
    margin: 0 auto;

    @include respondTo(phones) {
        padding-left: 0;
        padding-right: 0;
    }
    @include respondTo(wide-phones) {
        padding-left: 0;
        padding-right: 0;

    }
    @include respondTo(tablets) {
        padding-left: 0;
        padding-right: 0;

    }
    @include respondTo(small-desktops) {
        padding-left: 0;
        padding-right: 0;
    }
    @include respondTo (lg-desktops) {
        padding-left: 60px;
        padding-right: 60px;
    }


    h2 {
        color: #484848;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding: 60px 0 30px 0;
        text-transform: uppercase;
        margin: 0 auto;
    }
    p {
        color: #484848;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    div {
        @include respondTo(tablets) {
            margin-left: 10px;
        }

        .review {
            margin: 20px 0 20px 0;
            position: relative;
            box-sizing: border-box;
            @include respondTo(phones) {
                margin: 20px 0 0 0;
            }
            @include respondTo(tablets) {
                margin: 0 90px 0 0;

            }
            &:hover .reviewQuote {
                background: url("../../img/quote2.png") no-repeat 10px 30px, #ffcb0f;


            }
            &:hover::after {
                background-color: #ffcb0f;

            }


            .reviewQuote {
                background: url("../../img/quote1.png") no-repeat 10px 30px, #e5e5e5;
                padding: 40px 20px 0 65px;
                box-sizing: border-box;
                border-radius: 15px;
                width: 323px;
                height: 261px;
                color: #393939;
                font-size: 14.22px;
                font-weight: 300;
                line-height: 24px;
                text-align: left;
                position: relative;

                @include respondTo(tablets) {
                    width: 300px;

                }
                @include respondTo(small-desktops) {
                    width: 300px;
                }


            }
            &::after {
                content: '';
                width: 20px;
                height: 20px;
                background-color: #e5e5e5;
                transform: rotate(45deg);
                position: absolute;
                top: 250px;
                left: 170px;


            }
            img {
                margin: 30px 0 10px 125px;

            }
            p {
                color: #484848;
                font-size: 15px;
                font-weight: 700;
                text-align: left;
                text-transform: uppercase;
                margin-left: 120px;
                @include respondTo(tablets) {
                    margin-left: 140px;
                }
            }
        }
    }

}

.questions {
    background-color: #fedb5d;


    .questionsForm {
        @include standardPadding;

        @include respondTo(phones) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @include respondTo(wide-phones) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @include respondTo(tablets) {
            padding-left: 10px;
            padding-right: 10px;

        }
        @include respondTo(small-desktops) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @include respondTo (lg-desktops) {
            padding-left: 65px;
            padding-right: 65px;
        }

        div {

            h3 {
                color: #71737c;
                font-size: 30.87px;
                font-weight: 700;
                text-align: left;
                text-transform: uppercase;
                padding-top: 40px;

            }
            p {
                color: #73757e;
                font-size: 37px;
                font-weight: 300;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 25px;
            }
        }


    }
    .questionsFormWrap {

        form {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            input[type="text"] {
                border-radius: 10px;
                background-color: #ffffff;
                width: 249px;
                height: 45px;
                margin: 30px 5px 5px 0;
                color: #adadad;
                font-size: 15px;
                font-weight: 300;
                line-height: 45px;
                text-align: left;
                text-indent: 15px;
            }
            textarea {
                border-radius: 10px;
                background-color: #ffffff;
                width: 389px;
                height: 45px;
                color: #adadad;
                font-size: 15px;
                font-weight: 300;
                line-height: 45px;
                text-align: left;
                margin-top: 15px;
                text-indent: 15px;
                overflow-y: hidden;
                @include respondTo(phones) {
                    width: 90%;
                }

            }
            button {
                border-radius: 10px;
                background-color: #73757e;
                width: 113px;
                height: 45px;
                color: #ffffff;
                font-size: 16px;
                font-weight: 300;
                line-height: 45px;
                text-align: center;
                text-transform: uppercase;
                display: block;
                margin: 15px 0 0 5px;
                @include respondTo(phones) {
                    margin-bottom: 40px;
                }
                @include respondTo(wide-phones) {
                    margin-bottom: 40px;
                }
                @include respondTo(tablets) {
                    margin-bottom: 40px;
                }
                @include respondTo(small-desktops) {
                    margin-bottom: 40px;
                }

            }
        }
    }
    .line {
        background-color: #676b74;
        height: 45px;
    }
}

footer {


    .aboutUnits {
        background-image: url("../../img/Layer4.jpg");

        @include standardPadding;
        @include respondTo(phones) {
            padding-left: 10px;
            padding-right: 10px;
            background-size: cover;
        }
        @include respondTo(wide-phones) {
            padding-left: 10px;
            padding-right: 10px;
            background-size: cover;
        }
        @include respondTo(tablets) {
            padding-left: 10px;
            padding-right: 10px;
            background-size: cover;

        }
        @include respondTo(small-desktops) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @include respondTo (lg-desktops) {
            padding-left: 65px;
            padding-right: 65px;
        }



        .about {
            h3 {
                color: #ffffff;
                font-size: 25px;
                font-weight: 300;
                text-align: left;
                padding: 60px 0 30px 0;
                @include respondTo(phones) {
                    padding: 20px 0;
                }
            }
            p {
                color: #ffffff;
                font-size: 15px;
                font-weight: 300;
                text-align: left;
                padding-top: 15px;
            }
            .aboutPhone {
                color: #ffffff;
                font-size: 15px;
                font-weight: 300;
                text-align: left;
                margin: -15px 0 0 15px;
                padding-bottom: 20px;
            }
            .aboutSocial {
                a {
                    color: #222222;
                    font-size: 19.99px;
                    font-weight: 400;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #ffcb0f;
                    width: 44px;
                    height: 44px;
                    line-height: 44px;
                    display: block;
                    margin: 5px 5px 0 15px;
                    &:hover {
                        background-color: #222222;
                        color: #ffcb0f;


                    }

                }

            }
            li {
                color: #ffffff;
                list-style-type: none;
                a {
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 30px;
                    text-align: left;
                    text-decoration: none;
                    &:hover {
                        color: #ffcb0f;
                    }
                }
            }
            div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;



                .aboutItem {
                    margin-bottom: 10px;

                    .about20Aug {
                        width: 49x;
                        height: 49px;
                        box-sizing: border-box;
                        border-radius: 50%;
                        border-style: solid;
                        border-width: 2px;
                        border-color: #ffffff;
                        text-transform: uppercase;
                        display: grid;
                        grid-template-columns: 48px;

                        .about20 {
                            color: #ffffff;
                            font-size: 20px;
                            font-weight: 300;
                            text-align: center;
                            margin-left: 12px;
                        }
                        .aboutAug {
                            color: #ffffff;
                            font-size: 12px;
                            font-weight: 300;
                            text-align: center;
                            margin: -10px 0 0 12px;
                        }
                    }
                    .aboutText {
                        color: #ffffff;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 24px;
                        text-align: left;
                        padding-left: 5px;
                        width: 174px;
                    }
                }

            }

        }
    }


    .copy {
        background-color: #1a1c27;
        height: 81px;
        color: #ffffff;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        padding-top: 30px;
        span {
            color: #ffcb0f;
        }
    }
}
