body .about-plista {
    background: url(../img/Background.jpg) center center;
    padding: 140px 250px 160px 250px;
}

@media (max-width: 1199px) {
    body .about-plista {
        padding: 140px 20px 100px 20px;

    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .about-plista {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

body .about-plista h1 {
    color: #fff;
    font-size: 44px;
    padding-bottom: 15px;
    
}

body .about-plista p {
    color: #fff;
    font-size: 30px;
}

body .global-platform {
    padding: 100px 250px 100px 250px;
}

body .global-platform .global-platform_text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1.40px;
    color: #484847;
}


@media (max-width: 1199px) {
    body .global-platform {
        padding-right: 20px;
        padding-left: 20px;
    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .global-platform {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .global-platform .global-platform_img .global-platform_img1 {
        width: 65%;
    }

body .our-purpose {
    background: url(../img/Background.jpg) center center;
    background-size: cover;
    padding: 90px 250px 110px 250px;
}

@media (max-width: 1199px) {
    body .our-purpose  {
        padding-right: 20px;
        padding-left: 20px;
    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .our-purpose  {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .our-purpose h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.40px;
    line-height: 50px;
    text-align: left;
    padding: 0;
    margin-bottom: 50px;
}

body .our-purpose p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #fff;
    size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .plista-management {
    background-color: rgba(255, 255, 255, 1);
    padding: 75px 250px 90px 250px;
}

@media (max-width: 1199px) {
    body .plista-management {
        padding-right: 20px;
        padding-left: 20px;

    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .plista-management {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

body .plista-management .manager img {
    width: 300px;
    height: 300px;
}

body .plista-management .manager h3 {
    line-height: 50px;
    color: #484847;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.40px;  
}

body .plista-management .manager p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .plista-management h2 {
    line-height: 50px;
    color: #484847;
    size: 35px;
    font-weight: 300;
    letter-spacing: 1.40px;
    font-size: 35px;
    padding: 0 0 15px 15px;
}

body .milestones {
    padding: 100px 250px 100px 250px;
    background-color: #484847;
}

@media (max-width: 1199px) {
    body .milestones {
        padding-right: 20px;
        padding-left: 20px;
    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .milestones {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .milestones h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.40px;
    line-height: 50px;
    text-align: left;
    padding: 0 0 22px 0;
    
}

body .milestones .milestones-item-wrap .item-wrap .item-inside {
    display: flex;
    justify-content: flex-start;
    
}

body .milestones .milestones-item-wrap .item-wrap .item-inside .icon {
    color: #fff;
    font-size: 50px;
    opacity: .7;
    width: 60px;
}

body .milestones .milestones-item-wrap .item-wrap .item-inside .milestones-date {
    width: 80px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.40px;
    line-height: 50px;
    font-size: 24px;
}

body .milestones .milestones-item-wrap .item-wrap .item-inside .milestones-date div {
    

}

body .milestones .milestones-item-wrap .item-wrap p {
    opacity: .7;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .headquarter {
    padding: 60px 250px 60px 250px;
}

@media (max-width: 1199px) {
    body .headquarter {
        padding-right: 20px;
        padding-left: 20px;
    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .headquarter {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .headquarter .headquarter-item img {
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
}

body .headquarter .headquarter-item h2 {
    color: #484847;
    font-size: 30px !important;
    font-weight: 300;
    letter-spacing: 1.40px;
}

body .headquarter .headquarter-item h2 .icon {
    color: #37aa32;
    font-size: 50px;
    margin-right: 5px;
    
}



