body .connect {
    background: url(../img/plista_fingers.jpg) top center,
                rgba(0,0,0,.5);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 125px 250px 125px 250px;
}


@media (max-width: 1199px) {
    body .connect {
        padding: 125px 20px 145px 20px;

    }
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .connect {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .connect h1 {
    line-height: 50px;
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 1.40px;
    padding-bottom: 40px;
}

body .ad-options {
    padding: 105px 250px 0 250px;
}

@media (max-width: 1199px) {
    body .ad-options {
        padding: 105px 20px 0 20px;

    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .ad-options {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

body .ad-options .ad-options-wrap .ad-options-text p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 15px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .ad-options .ad-options-wrap .ad-options-img img {
    width: 80%;
}

body .ad-pluses {
    background: linear-gradient(180deg,#f5f5f5 .00%,#fff 100.00%);
    padding: 90px 250px 110px 250px;
}

@media (max-width: 1199px) {
    body .ad-pluses {
        padding: 90px 20px 110px 20px;
    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .ad-pluses {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .ad-pluses h3 {
    line-height: 50px;
    color: #484847;
    font-weight: 600;
    font-size: 24px;
}

body .ad-pluses h3 .icon{
    font-family: 'pixflow-font-library'; 
    display: inline-block;
    color: #37aa32;
    font-size: 50px;
    margin-right: 10px;
}

body .ad-pluses p {
    opacity: .7;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
    
}

body .ad-pluses h2 {
    line-height: 50px;
    color: #37aa32;
    font-weight: 300;
    letter-spacing: 1.40px;
    font-size: 35px;
}


body .solutions {
    padding: 90px 250px 100px 250px;
    background: url(../img/Background.jpg) no-repeat center center,
                rgba(0,0,0,.5);
    background-size: cover;
    background-blend-mode: multiply;
    box-sizing: border-box;

    
}

@media (max-width: 1199px) {
    body .solutions {
        padding: 90px 20px 100px 20px;
    }
} 

/*
@media (max-width: 1533px) and (min-width: 1200px) {
        body .solutions {
        padding-right: 70px;
        padding-left: 70px;
    } 
}
*/

@media (max-width: 1720px) and (min-width: 1200px) {
        body .solutions {
        padding-right: 70px;
        padding-left: 70px;
    } 
}


body .solutions .solutions-container .solutions-items {
    border-bottom: 4px solid #37aa32;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
   
body .solutions .solutions-container {
    
}
    

body .solutions .solutions-container .solutions-items .solutions-item {
    list-style-type: none;
    border-bottom: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-right: 1px solid rgba(255,255,255,.2);
    height: 80px;
    background-color: rgba(55,170,50,.25);
    text-align: center;
    align-items: center;
    width: 33.3%;
    transition: color .5s,background-color .5s,opacity .5s;
    padding: 26px 0 30px 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 1720px) and (min-width: 1360px) {
        body .solutions .solutions-container .solutions-items .solutions-item {
        
    } 
}


body .solutions .solutions-container .solutions-items .solutions-item:hover {
    background-color: rgba(55,170,50,.5);
}

body .solutions .solutions-container .solutions-items .solutions-item-active {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #37aa32;
    border-bottom: none;
    color: white;
    cursor: pointer;
    background-color: #37aa32;
}

body .solutions .solutions-container .solutions-items .solutions-item-active:hover {
    background-color: #37aa32;
}

body .solutions .solutions-container .solutions-text {
    border: 1px solid #37aa32;
    max-width: 1400px;
    margin-top: -10px;
    overflow: hidden;
    background-color: #fff;
    padding: 25px 90px 60px 40px;
    height: 615px;
}

@media (max-width: 991px) {
    body .solutions .solutions-container .solutions-text {
        height: auto;
    }
    
    body .solutions .solutions-subtext h3 {
        font-size: 24px;
        line-height: 30px;
    
}
    
    
} 


body .solutions .solutions-container .solutions-text .solutions-subtext {
    display: none;
   
}


body .solutions .solutions-container .solutions-text .solutions-subtext-active {
    display: block;
}

body .solutions .solutions-container .solutions-subtext img {
    width: 500px;
    height: 350px;
}

@media (max-width: 1720px) {
        body .solutions .solutions-container .solutions-subtext img  {
        width: 100%;
        height: auto;
    } 
}

body .solutions .solutions-subtext h3 {
    color: #37aa32;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1.40px;
    line-height: 50px;
    padding-bottom: 50px;
}

body .solutions .solutions-subtext p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}


body .solutions .solutions-subtext .solutions-subtext-benefits-wrap {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .solutions h2 {
    color: #fff;
    line-height: 50px;
    size: 35px;
    font-weight: 300;
    letter-spacing: 1.40px;
    padding-bottom: 35px;

}

body .solutions p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #fff;
    size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

@media (max-width: 1199px) {
    body .native-formats .native-formats-heading {
        padding: 60px 20px 35px 20px !important;
    }
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .native-formats .native-formats-heading  {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .native-formats .native-formats-heading {
    padding: 60px 250px 35px 250px;
    background-color: #484847;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1.40px;
    font-size: 35px;
}

body .native-formats .native-formats-overlay {
    top: 330px;
    background-color: rgb(72, 72, 71);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    opacity: .9;
    transition: opacity .3s,top .4s;
    padding: 0 40px 0 40px;
    display: none;
}

body .native-formats .native-formats-wrap .native-formats-item {
    height: 400px;
    position: relative;

}

body .native-formats .native-formats-wrap .native-formats-item{
    transition: all 500ms ease;
}

body .native-formats .native-formats-wrap .native-formats-item:hover .native-formats-overlay {
    display: block;
    top: 0;
}

body .native-formats .native-formats-wrap .native-formats-item .native-formats-overlay .native-formats-box-content {
    transition: margin-top .2s;
    margin-top: 0px;
    
}

body .native-formats .native-formats-wrap .native-formats-item:hover .native-formats-overlay .native-formats-box-content {
    
    
}

body .native-formats .native-formats-wrap .native-formats-item .native-formats-overlay .native-formats-box-content h3 {
    color: rgb(255,255,255);
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 1.40px;
}

body .native-formats .native-formats-wrap .native-formats-item .native-formats-overlay .native-formats-box-content p {
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .native-formats .native-formats-wrap .native-formats-item .native-formats-item-img1 {
    background: url(../img/native-recomendation-ads.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

body .native-formats .native-formats-wrap .native-formats-item .native-formats-item-img2 {
    background: url(../img/native-content-distribution.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

body .native-formats .native-formats-wrap .native-formats-item .native-formats-item-img3 {
    background: url(../img/native-video-ads.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}


body .how-plista-works {
    padding: 90px 250px 40px 250px;
    
}


@media (max-width: 1199px) {
    body .how-plista-works {
        padding: 90px 20px 40px 20px;

    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .how-plista-works {
        padding-right: 70px;
        padding-left: 70px;

    } 
}


body .how-plista-works h2 {
    line-height: 50px;
    color: #484847;
    font-weight: 300;
    letter-spacing: 1.40px;
}

body .how-plista-works p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .video-for-advertisers video {
    width: 20%;
    heigt: 30%;
}


body .ad-fullscreen-bg {
    overflow: hidden;
    position: relative;
    height: 550px;
    width: 100%;
}

body .fullscreen-bg__video {
    position: absolute;
    top: -45%;
    left: 0;
    width: 100%;
}

/*
@media (max-width: 1440px) and (min-width: 1000px) {
    body .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
}
}
*/

@media (max-width: 1440px) and (min-width: 450px) {
    body .fullscreen-bg__video {
        position: absolute;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
}
}

body .ad-overlay {
    background-color: rgba(0,0,0,0.3);
    position: relative;
    left: 0;
    width: 100%;
    height: 550px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
@media (max-width: 1199px) {
    body .native-formats .native-formats-heading {
        height: 100%;
    }
} 

body .ad-overlay .play-btn{
    cursor: pointer;
    border: 6px solid rgba(255,255,255,0.5);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    display: table;
    transition: rgba(255,255,255,0.5) .2s,transform .2s;
    transition-property: rgba(255,255,255,0.5), transform;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    box-sizing: border-box;
}
            
body .ad-overlay .play-btn .play-helper {
    transition: transform .2s;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    padding-top: 10%;
}

body .ad-overlay .play-btn .play-helper span {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'pixflow-font-library';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
}

body .play-btn:hover {
    border-color: rgba(255,255,255,1);
    transform: scale(1.1);
}

body .play-btn:hover .play-helper {
    transform: scale(1.1);
}

body .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: 0 !important;
  }

body .close-modal {
    right: 20px !important;
  }

.modal-dialog {
    position: relative;
    width: auto !important;
    margin: 10px;
    left: 12%;
    top: 5%;
}

body .modal-content {
    width: 70%;
}



@media (max-width: 830px) {
    body .modal-iframe {
        height: 350px;
}
} 

@media (max-width: 1428px) and (min-width: 831px) {
     body .modal-iframe {
     height: 600px;
}
}

.close {
    opacity: 1 !important;
    color: #000;
}

.close:hover {
    color: #fff;
    text-shadow: 0 1px 0 #000; 
}
    