body .great-content {
    background: url(../img/plista_pulishers.jpg) center center,
                rgba(0,0,0,.3);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 155px 250px 175px 250px;
}


@media (max-width: 1199px) {
    body .great-content {
        padding: 155px 20px 185px 20px;
    }
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .great-content {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .great-content h1 {
    line-height: 50px;
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 1.40px;
    padding-bottom: 70px;
}

body .pub-options {
    padding: 105px 250px 0 250px;
}

@media (max-width: 1199px) {
    body .pub-options {
        padding: 105px 20px 0 20px;
    }
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .pub-options {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .pub-options .pub-options-wrap .pub-options-text p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .pub-options .pub-options-wrap .pub-options-img img {
    width: 100%;
}

body .pub-pluses {
    background: linear-gradient(180deg,#f5f5f5 .00%,#fff 100.00%);
    padding: 95px 250px 110px 250px;
}

@media (max-width: 1199px) {
    body .pub-pluses {
        padding: 95px 20px 110px 20px;
    }
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .pub-pluses {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .pub-pluses h3 {
    line-height: 50px;
    color: #484847;
    font-weight: 600;
    font-size: 22px;
    
}

body .pub-pluses h3 .icon {
    font-family: 'pixflow-font-library';
    display: inline-block;
    color: #37aa32;
    font-size: 50px;
    margin-right: 10px;
}

body .pub-pluses p {
    opacity: .7;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
    
}

body .pub-pluses h2 {
    line-height: 50px;
    color: #37aa32;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1.40px;
}

body .how-plista-works {
    padding: 50px 250px 40px 250px;
    
}

@media (max-width: 1199px) {
    body .how-plista-works {
        padding: 50px 20px 40px 20px;
    }
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .how-plista-works {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .how-plista-works h2 {
    line-height: 50px;
    color: #484847;
    font-weight: 300;
    letter-spacing: 1.40px;
}

body .how-plista-works p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}


body .solutions {
    padding: 90px 250px 100px 250px;
    background: url(../img/Background.jpg) no-repeat center center,
                rgba(0,0,0,.5);
    background-size: cover;
    background-blend-mode: multiply;
    box-sizing: border-box;
}

@media (max-width: 1199px) {
    body .solutions {
        padding: 90px 20px 100px 20px;
    }
} 

@media (max-width: 1728px) and (min-width: 1200px) {
        body .solutions {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .solutions .solutions-container .solutions-items {
    border-bottom: 4px solid #37aa32;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
body .solutions .solutions-container .solutions-items .solutions-item {
    list-style-type: none;
    border-bottom: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-right: 1px solid rgba(255,255,255,.2);
    height: 80px;
    background-color: rgba(55,170,50,.25);
    text-align: center;
    align-items: center;
    width: 33.3%;
    transition: color .5s,background-color .5s,opacity .5s;
    padding: 26px 0 30px 0;
    margin: 0;
    box-sizing: border-box;

}

body .solutions .solutions-container .solutions-items .solutions-item:hover {
    background-color: rgba(55,170,50,.5);
}

body .solutions .solutions-container .solutions-items .solutions-item-active {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #37aa32;
    border-bottom: none;
    color: white;
    cursor: pointer;
    background-color: #37aa32;
}

body .solutions .solutions-container .solutions-items .solutions-item-active:hover {
    background-color: #37aa32;
}

body .solutions .solutions-container .solutions-text {
    border: 1px solid #37aa32;
    max-width: 1400px;
    margin-top: -10px;
    overflow: hidden;
    background-color: #fff;
    padding: 60px 90px 60px 40px;
     height: 550px;
}

@media (max-width: 991px) {
    body .solutions .solutions-container .solutions-text {
        height: auto;
    }
    
    body .solutions .solutions-subtext h3 {
        font-size: 24px;
        line-height: 30px;
    
} 
} 

body .solutions .solutions-container .solutions-text .solutions-subtext {
    display: none;
   
   
}


body .solutions .solutions-container .solutions-text .solutions-subtext-active {
    display: block;
}

body .solutions .solutions-container .solutions-subtext img {
    width: 500px;
    height: 350px;
}

@media (max-width: 1720px) {
        body .solutions .solutions-container .solutions-subtext img  {
        width: 100%;
        height: auto;
    } 
}


body .solutions .solutions-subtext h3 {
    color: #37aa32;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 1.40px;
    line-height: 50px;
}

body .solutions .solutions-subtext p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .solutions .solutions-subtext .solutions-subtext-benefits-wrap {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #484847;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .solutions h2 {
    color: #fff;
    line-height: 50px;
    size: 35px;
    font-weight: 300;
    letter-spacing: 1.40px;
}

body .solutions p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #fff;
    size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}

body .pub-fullscreen-bg {
    overflow: hidden;
    position: relative;
    /*z-index: -100;*/
    height: 550px;
    width: 100%;
}
 
body .fullscreen-bg__video {
    position: absolute;
    top: -45%;
    left: 0;
    width: 100%;
}

@media (max-width: 1440px) and (min-width: 450px) {
    body .fullscreen-bg__video {
        position: absolute;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%);
}
}
 
body .pub-overlay {
    background-color: rgba(0,0,0,0.3);
    position: relative;
    left: 0;
    width: 100%;
    height: 550px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .pub-overlay .play-btn {
    cursor: pointer;
    border: 6px solid rgba(255,255,255,0.5);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    display: table;
    transition: rgba(255,255,255,0.5) .2s,transform .2s;
    transition-property: rgba(255,255,255,0.5), transform;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    box-sizing: border-box;
 
}

body .pub-overlay .play-btn .play-helper {
    transition: transform .2s;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    padding-top: 10%;
}

body .pub-overlay .play-btn .play-helper span {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: 'pixflow-font-library';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    
}

body .play-btn:hover {
    border-color: rgba(255,255,255,1);
    transform: scale(1.1);
}

body .play-btn:hover .play-helper {
    transform: scale(1.1);
}

/*         
body .pub-overlay .play-btn i {
    color: rgb(255, 255, 255);
    font-size: 100px;
}
  
body .pub-fullscreen-bg .pub-overlay .play-btn {
    width: 110px;
    height: 110px;
    cursor: pointer;
    background-color: transparent; 
  position: relative;
  color: #fff;
  border: none;
  padding: 1.25em 2em;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
}

body .play-btn:hover {
    transform: scale(1.1);
}

body .pub-fullscreen-bg .pub-overlay .play-btn:hover  i{
    color: green;
}

body .pub-fullscreen-bg .pub-overlay .play-btn:focus i{
    outline: none;
}
*/


/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 40em) {
  .modal-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}


@media only screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.5rem;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    border-radius: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: 0 !important;
  }

  .close-modal {
    right: 20px !important;
  }
}

body .modal-dialog {
    position: relative;
    width: auto !important;
    margin: 10px;
    left: 12%;
    top: 5%;
}

body .modal-content {
    width: 70%;
}


@media (max-width: 830px) {
    body .modal-iframe {
        height: 300px;
}
} 

@media (max-width: 830px) {
    body .modal-iframe {
        height: 300px;
}
} 

@media (max-width: 1428px) and (min-width: 831px) {
     body .modal-iframe {
        height: 500px;
}
}

.close {
    opacity: 1 !important;
    color: #000;
}

.close:hover {
    color: #fff;
    text-shadow: 0 1px 0 #000; 
}