@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 70px;
}

body header .container-fluid {
    padding-left: 250px;
    padding-right: 250px; 
}

@media (max-width: 1533px) and (min-width: 1200px) {
        body header .container-fluid {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

@media (max-width: 1199px) {
        body header .container-fluid {
        padding-right: 20px;
        padding-left: 12px;
    }
} 

header {
    background-color: rgba(255, 255, 255, 1);
    /*padding-left: 250px;
    padding-right: 250px;*/
}

@media (max-width: 1533px) {
    header .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

/*
@media (max-width: 963px) and (min-width: 768px) {
    header {
        height: 150px;
    }
}
*/

header .navbar {
/*    transition: all 500ms ease;*/
    border-color: transparent;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    min-height: 75px;
    width: 100%;
    padding-left: 25px;
    padding-right: 1px;
    z-index: 10;
}

header nav .menu-plista {
    padding-top: 10px;
}

header nav .menu-plista li {
    display: inline-block;
    text-decoration: none;
}

header .navbar-default .navbar-nav > li > a {
    color: #9c9c9c;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 1.40px;
    line-height: 1.5em;
    position: relative;
	text-decoration: none;
    display:inline-block;
}

/*
@media (max-width: 919px) and (min-width: 768px) {
    header .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 50px 5px 0 5px;
        
    }
}

@media (max-width: 1083px) and (min-width: 1034px) {
    header .navbar-default .navbar-nav > li > a {
        font-size: 16px;
        padding: 25px 5px 0 5px;
        
    }
}*/

@media (max-width: 919px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-default .navbar-collapse {
    border: none;
}

header .navbar-default .navbar-nav > li > a:hover {
    color: rgb(72,72,71);
}

header .navbar-default .navbar-nav > li > a:before {
    color: rgb(72,72,71);
    content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
  visibility: hidden;

  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
}

header .navbar-default .navbar-nav > li > a:hover:before {
      color: rgb(72,72,71);
      visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
   
}


@media (max-width: 1033px) and (min-width: 920px) {
    header .navbar-default .navbar-nav > li > a {
        padding: 15px 5px 5px 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}



header .navbar-brand {
    padding-left: 0;
    display: block;
}
header .navbar-brand img {
    width: 160px;
    margin-top: -7px;
}

header .navbar .nav-menu .collapse .menu-plista {
    float: right;
}

/*
@media (max-width: 919px) and (min-width: 768px) {
    header .navbar .nav-menu .collapse .menu-plista {
        display: none;
    }
    .navbar-toggle {
        display: visible;
    }
}
*/


  
body .outcomes {
    background: url(../img/Background.jpg) center center;
    background-size: cover;
    padding: 130px 250px 170px 250px;
}



@media (max-width: 1199px) {
    body .outcomes {
        padding-right: 20px;
        padding-left: 20px;

    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .outcomes {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

/*
@media (max-width: 1199px) {
    body .outcomes {
        padding-right: 20px;
        padding-left: 20px;

    }
*/


body .outcomes h2 {
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1.40px;
    padding-bottom: 90px;
}

@media (max-width: 747px) {
    body .outcomes .buttonanim {
        margin-bottom: 20px;

    }
}

body .buttonanim {
    float: left;
    display: inline-block;
    backface-visibility: hidden;
    padding: 1px;
    white-space: nowrap;
    box-sizing: border-box;
    margin-right: 75px;
}




body .buttonanim a {
    padding: 15px 32px;
    border: 2px solid;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 9;
/*    transition: all .4s;*/
    opacity: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    display: inline-table;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1.00px;

}

body .buttonanim a:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: all .3s;
    box-sizing: border-box;
}

body .buttonanim:hover span {
    color: #37aa32;
}

body .buttonanim a:hover::after {
    width: 100%;
    color: #37aa32;
    background: #fff;
}

body .buttonanim a span {
    transition: all .3s;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 1.00px;
    cursor: pointer;
}

body .platform {
    padding: 50px 250px 80px 250px;
}

@media (max-width: 1199px) {
    body .platform {
        padding-right: 20px;
        padding-left: 20px;

    }
} 
@media (max-width: 1533px) and (min-width: 1200px) {
        body .platform {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

body .platform h2 {
    line-height: 50px;
    color: #484847;
    font-size: 35px;
    letter-spacing: 1.40px;
    font-weight: 300;
    padding-bottom: 55px;
}

body .platform img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

body .partners {
    padding: 85px 250px 50px 250px;
}

@media (max-width: 1199px) {
    body .partners {
        padding: 45px 20px;
    } 
} 
@media (max-width: 1800px) and (min-width: 1200px) {
        body .partners {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

body .partners h2 {
    line-height: 50px;
    color: #484847;
    size: 35px;
    font-weight: 300;
    letter-spacing: 1.40px;
    padding-bottom: 80px;
}

body .partners .partners-icons, 
body .partners .partners-icons-middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

body .partners .partners-icons div {
    width: 25%;
    text-align: center;
}

@media (max-width: 1450px) and (min-width: 650px) {
    body .partners .partners-icons div {
        width: 25%;
       
    } 
    body .partners .partners-icons div img {
        width: 70%;
    } 
    body .partners .partners-icons .partners-icons-fullsize img {
        width: auto;
    }
    body .partners .partners-icons-middle div {
        width: 20%;
    }
    body .partners .partners-icons-middle div img {
        width: 70%;
    } 
    body .partners .partners-icons-middle .partners-icons-fullsize img {
        width: auto;
    }
}

@media (max-width: 649px) {
    body .partners .partners-icons div {
        width: 25%;
       
    }  
    body .partners .partners-icons div img {
        width: 70%;
    } 
    body .partners .partners-icons .partners-icons-fullsize img {
        width: 50%;
    }
    body .partners .partners-icons-middle div {
        width: 20%;
       
    }  
    body .partners .partners-icons-middle div img {
        width: 70%;
    } 
    body .partners .partners-icons-middle .partners-icons-fullsize img {
        width: 50%;
    } 
} 

body .partners .partners-icons-pub {
    margin-top: 100px;
    
}


body .partners-icons-middle div {
    width: 20%;
    text-align: center;
}

body .benefits {
    background: url(../img/plista_pub.jpg) no-repeat center center,
                rgba(0,0,0,.52);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 130px 250px 143px 250px;
    width: 100%;
}

@media (max-width: 1199px) {
    body .benefits {
        padding-right: 20px;
        padding-left: 20px;
    } 
} 

@media (max-width: 1199px) {
    body .benefits {
        padding: 20px;
    } 
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .benefits {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

@media (max-width: 1199px) {
    .benefits .benefits-btns {
        display: none !important;
    }
    
    .benefits {
        padding-bottom: 0;
    }
}


@media (max-width: 1199px) {
    body .benefits .benefits-item {
        margin-bottom: 100px;
    } 
} 


body .benefits .benefits-item h3 {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 5px;
}

body .benefits .benefits-item p {
    color: #fff;
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
}


body .benefits .benefits-item h3 .icon {
    font-family: 'pixflow-font-library'; 
    color: #37aa32;
    font-size: 50px;
    margin-right: 10px;
}


body .socials {
    background: 
                url('../img/socials.jpg') no-repeat center center,
                rgba(0,0,0,.8);
    background-size: cover;
    background-blend-mode: multiply;
    height: 280px;
    padding: 50px 250px;
    width: 100%;
}

@media (max-width: 1199px) {
    body .socials {
        padding-right: 20px;
        padding-left: 20px;
        height: auto;
    } 
} 

@media (max-width: 1533px) and (min-width: 1200px) {
        body .socials {
        padding-right: 70px;
        padding-left: 70px;

    } 
}

body .socials .press-info .button-wrap {
    padding-top: 50px;
}

body .socials h2 {
    color: #fff;
    font-size: 35px;
    transition: color 400ms;
    font-weight: 300;
    letter-spacing: 1.40px;
}

@media (max-width: 1199px) {
    body .socials {
        padding-right: 20px;
        padding-left: 20px;
    } 
} 

body .socials .socials-icons {
    padding-top: 35px;
}

@media (max-width: 1199px) {
    body .socials {
        padding-right: 20px;
        padding-left: 20px;
    } 
    body .socials .form-inline input[type="email"] {
        width: 210px !important;
        height: 60px;
    }
} 

@media (max-width: 1650px) and (min-width: 1200px) {
        body .socials .form-inline input[type="email"] {
        width: 210px !important;
    }
}


body .socials .socials-icons a .icon {
    color: #fff;
    font-size: 50px;
    transition: color 400ms;
    -webkit-font-smoothing: antialiased;
    padding: 30px 100px 0 0;
}

@media (max-width: 1199px) {
    body .socials .socials-icons a .icon {
        padding: 30px 30px 0 0;
    }   
} 

@media (max-width: 1821px) and (min-width: 1200px) {
        body .socials .socials-icons a .icon {
        padding: 30px 30px 0 0;
    } 
}


@media (max-width: 991px) {
    body .socials .newsletter {
        margin-bottom: 50px;
    }     
    body .socials .socilas-contacts {
        margin-bottom: 50px;
    } 
} 


body .socials .socials-icons a .icon:hover {
     color: #9c9c9c;
}

body .socials .socials-icons a {
    text-decoration: none; 
}

body .socials form {
    padding-top: 30px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    height: 65px; 
}

body .socials .form-inline input[type="email"] {
    border: 1px solid rgba(255,255,255,.8);
    color: rgba(255,255,255,.7);
    height: 65px;
    width: 385px;
    padding-right: 25px;
    padding-left: 25px;
    outline: 0;
    text-align: left;
    border-radius: 3px 0 0 3px;
    background: transparent;
    text-transform: none;
    display: inline-block;
    margin: 10px 0 0 0;
}

body .socials .form-inline button {
    display: inline-block;
    height: 65px;
    width: 170px;
    border-radius: 0 3px 3px 0;
    border: 1px solid rgba(255,255,255,.8);
    margin: 0 0 0 -3px;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    position: relative;
    background-color: #fff;
    color: #484847;
    padding: 1px 6px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    align-items: flex-start;
    text-align: center;
    -webkit-appearance: button;
    cursor: pointer;
}

body .socials .socials-booking h2 {
    color: #fff;
    font-size: 35px;
    transition: color 400ms;
    font-weight: 300;
    letter-spacing: 1.40px;
}

body .socials .socials-booking p {
    opacity: .7;
    font-size: 15px;
    margin-bottom: 25px;
    color: #fff;
    size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.40px;
    padding-top: 15px;
}



body .button-wrap {
    float: left;
    display: inline-block;
    backface-visibility: hidden;
    padding: 1px;
    white-space: nowrap;
    box-sizing: border-box;
}

body .button-wrap a {
    padding: 10px 29px;
    border: 2px solid;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all .4s;
    opacity: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    display: inline-table;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1.00px;
}

body .button-wrap a:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: all .3s;
    box-sizing: border-box;
}

body .button-wrap:hover span {
    color: #37aa32;
}

body .button-wrap a:hover::after {
    width: 100%;
    color: #37aa32;
    background: #fff;
}

body .button-wrap a span {
    transition: all .3s;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 1.00px;
    cursor: pointer;
}

body .container {
    width: 1300px;
}

footer {
    font-size: 14px;
    background-color: #484847;
    padding: 70px 250px 120px 250px;
}

footer .footer-content {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}


@media (max-width: 1199px) {
    footer {
        padding-right: 20px;
        padding-left: 20px;
    } 
} 
@media (max-width: 1533px) and (min-width: 1200px) {
    footer {
        padding-right: 70px;
        padding-left: 70px;
    } 
}

footer .footer-content a {
    display: inline-block;
    color: #9c9c9c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.00px;
    padding-right: 50px;

}

@media (max-width: 1199px) {
    footer .footer-content a {
        padding-right: 30px;
        line-height: 50px;
    } 
} 

footer .footer-content a:hover {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
    text-decoration: none;
}




@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

body .modal-content {
    background-color: transparent;
    
}