@charset "UTF-8";
@font-face {
  font-family: "Futura (Light)";
  src: url("../style/fonts/FuturaLT.ttf");
}

/* line 2, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 7, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
body {
  width: 1600px;
  font-family: "Futura (Light)", sans-serif;
  margin: 0 auto;
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 7, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  body {
    width: 100%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 7, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  body {
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 7, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  body {
    width: 100%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 7, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  body {
    width: 100%;
  }
}

@media all and (max-width: 575px) {
  /* line 7, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  body {
    width: 100%;
  }
}

/* line 29, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts {
  background-color: #ffcb0f;
  padding-left: 215px;
  padding-right: 215px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 575px) {
  /* line 29, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 29, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 29, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 29, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 29, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 60, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .headerContact {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

/* line 67, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .headerContact div {
  margin: 10px;
}

/* line 71, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .headerContact div:nth-child(1) {
  margin-left: 0;
}

@media all and (max-width: 575px) {
  /* line 71, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts .headerContact div:nth-child(1) {
    margin-left: 10px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 71, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts .headerContact div:nth-child(1) {
    margin-left: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 71, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts .headerContact div:nth-child(1) {
    margin-left: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 71, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts .headerContact div:nth-child(1) {
    margin-left: 10px;
  }
}

/* line 90, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .headerContact div a {
  color: #222222;
  font-size: 19.99px;
  font-weight: 400;
}

/* line 94, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .headerContact div a:hover {
  color: #696969;
}

/* line 100, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .socials {
  font-size: 19px;
  font-weight: 400;
  text-align: right;
  margin: 10px 0;
}

/* line 107, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .socials div {
  display: flex;
  justify-content: flex-end;
}

@media all and (max-width: 575px) {
  /* line 107, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerContacts .socials div {
    justify-content: left;
    padding-left: 30px;
  }
}

/* line 115, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .socials div a {
  text-decoration: none;
  color: #222222;
  padding: 0 5px;
}

/* line 121, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerContacts .socials div a:hover {
  color: #696969;
}

/* line 130, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerMenu {
  background-color: #222533;
  padding-left: 215px;
  padding-right: 215px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 575px) {
  /* line 130, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 130, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 130, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 130, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu {
    padding-left: 10px;
    padding-right: 0;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 130, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 158, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerMenu div {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media all and (max-width: 575px) {
  /* line 158, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu div {
    text-align: center;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 158, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu div {
    text-align: center;
  }
}

/* line 168, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerMenu nav {
  display: flex;
  justify-content: flex-end;
}

/* line 173, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerMenu nav .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
  list-style-type: none;
}

@media all and (max-width: 575px) {
  /* line 173, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu nav .menu {
    margin: 0 0 20px 0;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 173, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu nav .menu {
    margin: 30px 0 0 0;
  }
}

/* line 188, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerMenu nav .menu li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-left: 23px;
}

@media all and (max-width: 575px) {
  /* line 188, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .headerMenu nav .menu li a {
    margin-left: 15px;
  }
}

/* line 198, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.headerMenu nav .menu li a:hover {
  color: #ffcb0f;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

/* line 211, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction {
  background: url(../../img/Layer9.jpg) top no-repeat;
  padding: 114px 280px 200px 280px;
}

@media all and (max-width: 575px) {
  /* line 211, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction {
    padding: 20px 10px 20px 10px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 211, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction {
    padding: 20px 10px 0 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 211, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction {
    padding: 40px 10px 0 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 211, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction {
    padding: 114px 10px 200px 10px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 211, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction {
    padding: 114px 65px 200px 65px;
  }
}

/* line 233, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction h2 {
  color: #ffffff;
  font-size: 39.99px;
  font-weight: 300;
  line-height: 13.018px;
  text-align: center;
  padding-bottom: 31px;
  margin: 0 auto;
}

@media all and (max-width: 575px) {
  /* line 233, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction h2 {
    line-height: normal;
  }
}

/* line 246, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

@media all and (max-width: 575px) {
  /* line 246, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction h1 {
    font-size: 40px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 246, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction h1 {
    font-size: 65px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 246, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction h1 {
    font-size: 65px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 246, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction h1 {
    font-size: 65px;
  }
}

/* line 268, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction div {
  color: #ffcb0f;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

@media all and (max-width: 575px) {
  /* line 268, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction div {
    line-height: normal;
    font-size: 40px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 268, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction div {
    line-height: normal;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 268, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction div {
    font-size: 65px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 268, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction div {
    font-size: 65px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 268, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction div {
    font-size: 65px;
  }
}

/* line 293, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  padding-top: 30px;
}

/* line 300, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction .contstuctionBtn {
  margin: 0 auto;
}

/* line 302, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction .contstuctionBtn a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffcb0f;
  width: 157px;
  height: 45px;
  margin: 35px;
  text-decoration: none;
}

@media all and (max-width: 575px) {
  /* line 302, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .construction .contstuctionBtn a {
    margin: 5px;
  }
}

/* line 319, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.construction .contstuctionBtn a:hover {
  background-color: #696969;
}

/* line 326, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome {
  padding-left: 215px;
  padding-right: 215px;
  margin-top: -27px;
}

@media all and (max-width: 575px) {
  /* line 326, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 326, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 326, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 326, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 326, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 355, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .welcomeText a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffcb0f;
  width: 157px;
  height: 45px;
  margin-top: 25px;
  text-decoration: none;
  margin-bottom: 40px;
  text-transform: uppercase;
}

/* line 370, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .welcomeText a:hover {
  background-color: #696969;
}

/* line 374, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .welcomeText h2 {
  color: #ffcb0f;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 80px;
}

@media all and (max-width: 575px) {
  /* line 374, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .welcomeText h2 {
    padding-top: 30px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 374, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .welcomeText h2 {
    padding-top: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 374, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .welcomeText h2 {
    padding-top: 30px;
  }
}

/* line 393, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .welcomeText h3 {
  color: #484848;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

/* line 401, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .welcomeText h3 p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}

/* line 409, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .weclomeImg {
  background: url(../../img/Layer_2.jpg) center no-repeat;
}

/* line 410, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.welcome .weclomeImg img {
  height: 100%;
  padding-left: 155px;
}

@media all and (max-width: 575px) {
  /* line 410, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .weclomeImg img {
    padding-left: 50px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 410, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .weclomeImg img {
    padding-left: 200px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 410, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .weclomeImg img {
    padding-left: 10px;
    height: 80%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 410, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .welcome .weclomeImg img {
    padding-left: 50px;
  }
}

/* line 438, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.whyChooseUs {
  padding-left: 215px;
  padding-right: 215px;
  background-color: #f2f7fa;
}

@media all and (max-width: 575px) {
  /* line 438, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 438, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 438, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 438, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 438, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 463, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.whyChooseUs h2 {
  padding: 70px 0 29px 0;
  color: #484848;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

/* line 472, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.whyChooseUs p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 20px;
}

/* line 480, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.whyChooseUs .why div {
  color: #484848;
  font-size: 50.01px;
  font-weight: 400;
  text-align: center;
  padding: 80px 0 78px 0;
  background: url(../../img/Layer1.JPG) center no-repeat;
  width: 230px;
  height: 230px;
  background-size: contain;
}

@media all and (max-width: 575px) {
  /* line 480, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs .why div {
    margin: 0 auto;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 480, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs .why div {
    margin: 0 auto;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 480, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .whyChooseUs .why div {
    margin: 0 auto;
  }
}

/* line 502, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.whyChooseUs .why h3 {
  color: #484848;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* line 509, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.whyChooseUs .why p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
}

/* line 518, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices {
  padding-left: 215px;
  padding-right: 215px;
}

@media all and (max-width: 575px) {
  /* line 518, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .ourServices {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 518, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .ourServices {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 518, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .ourServices {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 518, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .ourServices {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 518, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .ourServices {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 542, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices h2 {
  color: #484848;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 70px 0 54px 0;
  margin: 0 auto;
}

/* line 552, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices .ourServicesItem img {
  width: 100%;
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 552, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .ourServices .ourServicesItem img {
    width: 70%;
  }
}

/* line 558, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices .ourServicesItem h3 {
  padding: 30px 0 20px 0;
  color: #484848;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

/* line 566, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices .ourServicesItem p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

/* line 573, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices .ourServicesItem a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffcb0f;
  width: 157px;
  height: 45px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 0 99px 0;
}

/* line 587, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.ourServices .ourServicesItem a:hover {
  background-color: #696969;
}

/* line 594, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove {
  padding-left: 215px;
  padding-right: 215px;
  background: url(../../img/Layer3.jpg) repeat;
  height: 927px;
}

@media all and (max-width: 575px) {
  /* line 594, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove {
    padding: 0 10px 10px 10px;
    height: 100%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 594, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove {
    padding: 0 10px 10px 10px;
    height: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 594, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove {
    padding: 0 10px 10px 10px;
    height: 100%;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 594, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove {
    padding: 0 10px 50px 10px;
    height: 100%;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 594, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 626, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeText {
  margin: 0 auto;
}

/* line 628, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeText h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 70px 0 35px 0;
}

/* line 637, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeText p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

/* line 647, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madelinks {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 575px) {
  /* line 647, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove .madelinks {
    flex-wrap: wrap;
  }
}

/* line 655, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madelinks a {
  width: 120px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 45px 5px 45px 5px;
  text-decoration: none;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}

/* line 667, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madelinks a:nth-child(3) {
  width: 160px;
}

@media all and (max-width: 575px) {
  /* line 655, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove .madelinks a {
    margin: 5px;
  }
}

/* line 676, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madelinks a:hover {
  background-color: #282828;
  width: 120px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  border-radius: 20px;
}

/* line 686, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madelinks a:hover:nth-child(3) {
  width: 160px;
}

/* line 692, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "layer10 layer10 layer11 layer12" "layer10 layer10 layer13 layer14";
}

@media all and (max-width: 575px) {
  /* line 692, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .madeWithLove .madeImg {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "layer10 layer10" "layer11 layer12" "layer13 layer14";
  }
}

/* line 708, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg img {
  width: 100%;
}

/* line 713, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg .layer10 {
  grid-area: layer10;
  height: 100%;
}

/* line 719, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg .layer11 {
  grid-area: layer11;
}

/* line 722, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg .layer14 {
  grid-area: layer14;
}

/* line 725, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg .layer12 {
  grid-area: layer12;
}

/* line 728, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.madeWithLove .madeImg .layer13 {
  grid-area: layer13;
}

/* line 736, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews {
  padding-left: 215px;
  padding-right: 215px;
  background-image: url(../../img/Layer17.jpg);
  height: 100%;
  margin: 0 auto;
}

@media all and (max-width: 575px) {
  /* line 736, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 736, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 736, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 736, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 736, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* line 766, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews h2 {
  color: #484848;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 60px 0 30px 0;
  text-transform: uppercase;
  margin: 0 auto;
}

/* line 775, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews p {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 35px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 784, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews div {
    margin-left: 10px;
  }
}

/* line 789, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review {
  margin: 20px 0 20px 0;
  position: relative;
  box-sizing: border-box;
}

@media all and (max-width: 575px) {
  /* line 789, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews div .review {
    margin: 20px 0 0 0;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 789, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews div .review {
    margin: 0 90px 0 0;
  }
}

/* line 800, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review:hover .reviewQuote {
  background: url("../../img/quote2.png") no-repeat 10px 30px, #ffcb0f;
}

/* line 805, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review:hover::after {
  background-color: #ffcb0f;
}

/* line 811, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review .reviewQuote {
  background: url("../../img/quote1.png") no-repeat 10px 30px, #e5e5e5;
  padding: 40px 20px 0 65px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 323px;
  height: 261px;
  color: #393939;
  font-size: 14.22px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  position: relative;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 811, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews div .review .reviewQuote {
    width: 300px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 811, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews div .review .reviewQuote {
    width: 300px;
  }
}

/* line 835, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #e5e5e5;
  transform: rotate(45deg);
  position: absolute;
  top: 250px;
  left: 170px;
}

/* line 847, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review img {
  margin: 30px 0 10px 125px;
}

/* line 851, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.customerReviews div .review p {
  color: #484848;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-left: 120px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 851, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .customerReviews div .review p {
    margin-left: 140px;
  }
}

/* line 867, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions {
  background-color: #fedb5d;
}

/* line 871, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsForm {
  padding-left: 215px;
  padding-right: 215px;
}

@media all and (max-width: 575px) {
  /* line 871, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsForm {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 871, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsForm {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 871, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsForm {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 871, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsForm {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 871, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsForm {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 898, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsForm div h3 {
  color: #71737c;
  font-size: 30.87px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding-top: 40px;
}

/* line 907, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsForm div p {
  color: #73757e;
  font-size: 37px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 25px;
}

/* line 921, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsFormWrap form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* line 925, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsFormWrap form input[type="text"] {
  border-radius: 10px;
  background-color: #ffffff;
  width: 249px;
  height: 45px;
  margin: 30px 5px 5px 0;
  color: #adadad;
  font-size: 15px;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
  text-indent: 15px;
}

/* line 938, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsFormWrap form textarea {
  border-radius: 10px;
  background-color: #ffffff;
  width: 389px;
  height: 45px;
  color: #adadad;
  font-size: 15px;
  font-weight: 300;
  line-height: 45px;
  text-align: left;
  margin-top: 15px;
  text-indent: 15px;
  overflow-y: hidden;
}

@media all and (max-width: 575px) {
  /* line 938, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsFormWrap form textarea {
    width: 90%;
  }
}

/* line 956, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .questionsFormWrap form button {
  border-radius: 10px;
  background-color: #73757e;
  width: 113px;
  height: 45px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 15px 0 0 5px;
}

@media all and (max-width: 575px) {
  /* line 956, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsFormWrap form button {
    margin-bottom: 40px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 956, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsFormWrap form button {
    margin-bottom: 40px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 956, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsFormWrap form button {
    margin-bottom: 40px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 956, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  .questions .questionsFormWrap form button {
    margin-bottom: 40px;
  }
}

/* line 985, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
.questions .line {
  background-color: #676b74;
  height: 45px;
}

/* line 994, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits {
  background-image: url("../../img/Layer4.jpg");
  padding-left: 215px;
  padding-right: 215px;
}

@media all and (max-width: 575px) {
  /* line 994, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  footer .aboutUnits {
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  /* line 994, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  footer .aboutUnits {
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  /* line 994, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  footer .aboutUnits {
    padding-left: 10px;
    padding-right: 10px;
    background-size: cover;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  /* line 994, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  footer .aboutUnits {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1440px) {
  /* line 994, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  footer .aboutUnits {
    padding-left: 65px;
    padding-right: 65px;
  }
}

/* line 1026, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  padding: 60px 0 30px 0;
}

@media all and (max-width: 575px) {
  /* line 1026, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
  footer .aboutUnits .about h3 {
    padding: 20px 0;
  }
}

/* line 1036, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  padding-top: 15px;
}

/* line 1043, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about .aboutPhone {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  margin: -15px 0 0 15px;
  padding-bottom: 20px;
}

/* line 1052, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about .aboutSocial a {
  color: #222222;
  font-size: 19.99px;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
  background-color: #ffcb0f;
  width: 44px;
  height: 44px;
  line-height: 44px;
  display: block;
  margin: 5px 5px 0 15px;
}

/* line 1064, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about .aboutSocial a:hover {
  background-color: #222222;
  color: #ffcb0f;
}

/* line 1074, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about li {
  color: #ffffff;
  list-style-type: none;
}

/* line 1077, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about li a {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
}

/* line 1084, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about li a:hover {
  color: #ffcb0f;
}

/* line 1089, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 1096, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about div .aboutItem {
  margin-bottom: 10px;
}

/* line 1099, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about div .aboutItem .about20Aug {
  width: 49x;
  height: 49px;
  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 48px;
}

/* line 1111, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about div .aboutItem .about20Aug .about20 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-left: 12px;
}

/* line 1118, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about div .aboutItem .about20Aug .aboutAug {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin: -10px 0 0 12px;
}

/* line 1126, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .aboutUnits .about div .aboutItem .aboutText {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding-left: 5px;
  width: 174px;
}

/* line 1143, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .copy {
  background-color: #1a1c27;
  height: 81px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-top: 30px;
}

/* line 1152, C:/Users/Према/Desktop/olgasahu.ru/markup/ConstructionCompany/style/scss/style.scss */
footer .copy span {
  color: #ffcb0f;
}

/*# sourceMappingURL=../css/style.map */