@font-face {
    font-family: "Bebas";
    src: url(../fonts/BEBAS.ttf);
}
@font-face {
    font-family: "Bebas Neue Bold";
    src: url(../fonts/BebasNeue-Bold.ttf)  
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}


@textFont: "Bebas", sans-serif;
@textFontBold: "Bebas Neue Bold", sans-serif;
@textlight: "Open Sans", sans-serif;

@bkgcolor: #ffffff;

.respondTo(@device, @content) {
  & when (@device = phones) {
    @media all and (max-width: 479px) { @content(); }
  }
  & when (@device = wide-phones) {
    @media all and (min-width: 480px) and (max-width: 767px) { @content(); }
  }
  & when (@device = tablets) {
    @media all and (min-width: 768px) and (max-width: 991px) { @content(); }
  }
  & when (@device = small-desktops) {
    @media all and (min-width: 992px) and (max-width: 1199px) { @content(); }
  }
  & when (@device = lg-desktops) {
    @media all and (min-width: 1200px) and (max-width: 1440px) { @content(); }
  }
  & when (@device = xlg-desktops) {
    @media all and (min-width: 1441px) and (max-width: 1920px) { @content(); }
  }
}

.customRespond(@minWidth, @maxWidth, @content) {
  @media all and (min-width: @minWidth) and (max-width: @maxWidth) { @content(); }
}

.paddingSiteMixin {
    padding-left: 180px;
    padding-right: 180px;
}
