@import "addstyle";

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1500px;
    margin: 0 auto;
    
   
    .customRespond(0, 1199px, {
        width: 100%;
        height: 100%;
        
    }
    );
  
}

.header1 {

    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    .paddingSiteMixin();

    .respondTo(small-desktops, {
        padding: 10px;
        grid-template-columns: 1fr 2fr;
        justify-items: center;


    }
    );
    .respondTo(tablets, {
        padding: 0 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;

    }
    );
    .customRespond(0, 767px, {
        padding-left: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        justify-items: center;
    }
    );



    .logo {
        display: block;
        width: 150px;
    }

    .menu {
        display: grid;
        grid-template-columns: 45px 75px 40px 80px 40px 67px;
        justify-content: space-between;
        width: 520px;
        grid-gap: 25px;
        margin-top: 45px;
        margin-bottom: 40px;
        
        .respondTo(wide-phones, {
            grid-gap: 10px;
            width: 100%;
            margin: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            );

            .respondTo(phones, {
            grid-gap: 10px;
            width: 100%;
            margin: 0;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
            );
        
        
        a {
           .customRespond(0, 767px, {
            text-align: center;
        }
        ); 
        }



    }
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0f0f;
    font-size: 16px;
    font-weight: 400;
    font-family: @textFont;

    &:hover {
        color: #4e26fd;
    }
}

.perfection {
    width: 100%;
    height: 684px;

    .customRespond(0, 1199px, {
        height: 100%;
        

    }
    );

}

.perfection-img {
    display: grid;
    grid-template-columns: 989px 510px;
    grid-template-areas: "perf-i1 perf-i2" "perf-i1 perf-i3" "perf-i4 perf-i3";
    .respondTo(small-desktops, {
        grid-template-columns: 650px 310px;
        grid-template-areas: "perf-i1 perf-i2" "perf-i1 perf-i3" "perf-i4 perf-i3";
        justify-content: center;
        grid-gap: 0;


    }
    );
    .respondTo(tablets, {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px 1fr 1fr;
        grid-template-areas: "perf-i1" "perf-i4" "perf-i2" "perf-i3";
        grid-row-gap: 10px;
        justify-content: center;
        padding: 10px;

    }
    );
    .customRespond(0, 767px, {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 100px 228px 228px;
        grid-template-areas: "perf-i1" "perf-i4" "perf-i2" "perf-i3";
        grid-row-gap: 5px;
        justify-content: center;
        padding: 10px;

    }
    );

    .perf-i1 {
        grid-area: perf-i1;
        background: url(../img/Layer7.jpg) no-repeat left center;
        width: 989px;
        height: 601px;

        .respondTo(small-desktops, {
            width: 650px;
            height: 370px;



        }
        );


        .customRespond(0, 991px, {
            width: 100%;
            height: 100%;
            background-size: cover;
           
        }
        );



        .perf-text {
            font-family: @textFontBold;
            color: @bkgcolor;
            font-size: 111.71px;
            font-weight: 400;
            line-height: 49.542px;
            text-align: left;
            margin-top: 510px;
            margin-left: 180px;
            background: none;
            .respondTo(small-desktops, {
                margin: 310px 0 50px 10px;
                font-size: 100px;

            }
            );

            .respondTo(tablets, {
                margin: 270px 0 50px 10px;

            }
            );
            .customRespond(0, 767px, {
                margin: 250px 0 10px 0;
                font-size: 60px;
            }
            );


        }
    }

    .perf-i2 {
        grid-area: perf-i2;
        background: url(../img/Layer10.jpg) no-repeat left center;
        width: 511px;
        height: 342px;
        .respondTo(small-desktops, {
            width: 310px;
            height: 228px;

        }
        );

        .respondTo(tablets, {
            width: 100%;
            height: 100%;

        }
        );
        .customRespond(0, 767px, {
            width: 100%;
            height: 100%;
            background-size: contain;
            justify-content: center;
        }
        );
    }
    .perf-i3 {
        grid-area: perf-i3;
        background: url(../img/Layer5.jpg) no-repeat left center;
        width: 511px;
        height: 342px;
        .respondTo(small-desktops, {
            width: 310px;
            height: 228px;

        }
        );
        .respondTo(tablets, {
            width: 100%;
            height: 100%;

        }
        );
        .customRespond(0, 767px, {
            width: 100%;
            height: 100%;
            background-size: contain;
            justify-content: center;
        }
        );

    }
    .perf-i4 {
        color: #000000;
        font-size: 70px;
        font-weight: 400;
        line-height: 49.542px;
        text-align: left;
        font-family: @textFontBold;
        padding-left: 180px;
        .respondTo(small-desktops, {
            font-size: 60px;
            padding-left: 20px;

        }
        );
        .respondTo(tablets, {
            padding: 10px;

        }
        );
        .customRespond(0, 767px, {
            padding: 10px;
            font-size: 50px;
        }
        );
    }

}

.perfection-text {
    position: absolute;
    box-sizing: border-box;

    p {
        font-size: 111.71px;
        font-weight: 400;
        line-height: 49.542px;
    }
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 55px;
    .paddingSiteMixin();
    .customRespond(0, 1199px, {
        padding: 20px;
        width: 80%;
        justify-content: center;
        margin: 0 auto;

    }
    );

    .hotel-form {
        .customRespond(0, 1199px, {
            margin: 0 auto;

        }
        );

        form {
            background-color: #1c1c1c;
            width: 1141px;
            height: 113px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;


            .respondTo(small-desktops, {
                width: 80%;
                padding: 0 20px 30px 20px;
                flex-wrap: wrap;
                height: auto;
                align-content: center;

                margin: 0 auto;
            }
            );

            .respondTo(tablets, {
                width: 100%;
                flex-direction: column;
                height: auto;
                margin: 0 auto;
                align-items: center;
                padding: 20px;
            }
            );
            .respondTo(wide-phones, {
                width: 100%;
                margin-top: 10px;
                height: auto;
                flex-direction: column;
                margin: 0 auto;
                align-items: center;
                padding: 20px;
            }
            );

            .respondTo(phones, {
                width: 100%;
                margin-top: 10px;
                height: auto;
                flex-direction: column;
                margin: 0 auto;
                align-items: center;
                padding: 20px 0 20px 20px;

            }
            );
            div {
                input[type="text"] {
                    font-family: @textlight;
                    background-color: @bkgcolor;
                    width: 212px;
                    height: 49px;
                    color: #000000;
                    font-size: 17px;
                    font-weight: 400;
                    text-align: justify;
                    margin-top: 35px;
                    text-indent: 5px;
                    margin-right: 15px;
                    .customRespond(0, 991px, {
                        margin-top: 10px;
                        width: 90%;



                    }
                    );
                }
                input[type="submit"] {
                    display: block;
                    background-color: #4e26fd;
                    width: 167px;
                    height: 49px;
                    font-family: @textFont;
                    color: @bkgcolor;
                    font-size: 20px;
                    font-weight: 400;
                    transform: scaleX(1.0015);
                    text-align: center;
                    margin-top: 35px;
                    .customRespond(0, 991px, {
                        margin: 10px 15px 0 0;
                        


                    }
                    );

                    &:hover {
                        color: #E6E6FA;
                        background-color: #6A5ACD;
                    }

                }
            }


        }
    }


    .hotel-form-border {
        background-color: #4e26fd;
        width: 1141px;
        height: 10px;


        .respondTo(small-desktops, {
            height: auto;




        }
        );
        .customRespond(0, 991px, {
            margin: 0 10px;
            width: 20%;
            height: auto;
            flex-direction: column;
        }
        );

    }
}


.award {
    margin-top: 115px;
    .respondTo(small-desktops, {
        margin-top: 50px;

    }
    );
    .customRespond(0, 991px, {
        margin-top: 50px;
    }
    );

    h2 {
        font-family: @textFontBold;
        color: #000000;
        font-size: 55px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 42px;

        &:hover {
            transform: perspective(400px) translateZ(-150px);
            transition-duration: 1s;
        }
    }
    .award-hotels {
        display: grid;
        grid-template-columns: 353px 353px 353px;
        grid-gap: 40px;

        .paddingSiteMixin();
        .respondTo(small-desktops, {
            grid-template-columns: 353px 353px;
            padding: 10px;
            justify-content: center;

        }
        );
        .respondTo(tablets, {
            grid-template-columns: 353px 353px;
            padding: 10px;
            grid-gap: 20px;
            justify-content: center;
        }
        );
        .customRespond(0, 767px, {
            grid-template-columns: 1fr;
            padding: 0 10px;
            grid-gap: 20px;
            justify-content: center;
        }
        );

        .award-turn {

            .award-img {
                width: 353px;
                height: 241px;
                .customRespond(0, 767px, {
                    width: 100%;
                    height: 100%;
                }
                );

            }
            &:hover .award-img {
                transform: rotateY(130deg);
                transition-duration: 2s;
            }
        }


        h3 {
            font-family: @textlight;
            color: #010101;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            margin: 30px 0 15px 0;
            .respondTo(tablets, {
                margin: 5px 0;
            }
            );

            .customRespond(0, 767px, {
                margin: 5px 0;

            }
            );
        }
        p {
            font-family: @textlight;
            color: #010101;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: center;
        }

        a {
            display: block;
            font-family: @textFont;
            color: #4e26fd;
            font-size: 23.98px;
            font-weight: 400;
            transform: scaleX(1.0015);
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border: 2px solid #4e26fd;
            box-sizing: border-box;
            width: 169px;
            height: 48px;
            justify-content: center;
            padding-top: 3px;
            margin-left: 485px;

            &:hover {
                border-color: #6A5ACD;
                cursor: pointer;
                transform: scale(1.1, 1.1);
                transition-duration: 1s;
            }
            .respondTo(small-desktops, {
                margin-left: 300px;

            }
            );

            .respondTo(tablets, {
                margin-left: 300px;
            }
            );

            .customRespond(0, 767px, {
                margin-left: 20px;

            }
            );




        }


    }
}




.winter-activities {

    h2 {
        font-family: @textFontBold;
        color: #000000;
        font-size: 80px;
        font-weight: 400;
        line-height: 49.542px;
        text-align: center;
        margin: 105px 0 40px 0;
        .respondTo(small-desktops, {
            margin-top: 50px;

        }
        );
        .customRespond(0, 767px, {
            font-size: 70px;
            line-height: 60px;
            margin-top: 50px;
        }
        );


        &:hover {
            transform: perspective(350px) translateZ(-150px);
            transition-duration: 1s;
        }
    }
    .winter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 598px;
        .respondTo(small-desktops, {
            grid-template-columns: 250px 250px 250px;
            grid-gap: 10px;
            padding: 0 10px;
            justify-content: center;
        }
        );
        .respondTo(tablets, {
            grid-template-columns: 250px 250px;
            grid-gap: 10px;
            padding: 0 10px;
            justify-content: center;
        }
        );
        .customRespond(0, 767px, {
            grid-template-columns: 250px;
            grid-gap: 5px;
            padding: 0 10px;
            justify-content: center;

        }
        );


        div:nth-child(1) {
            background: url(../img/Layer21.jpg) no-repeat left center;
        }
        div:nth-child(2) {
            background: url(../img/Layer22.jpg) no-repeat left center;

        }
        div:nth-child(3) {
            background: url(../img/Layer23.jpg) no-repeat left center;
        }
        div:nth-child(4) {
            background: url(../img/Layer20.jpg) no-repeat left center;

        }
        div:nth-child(5) {
            background: url(../img/Layer24.jpg) no-repeat left center;
        }
        div h3 {
            font-family: @textFontBold;
            color: @bkgcolor;
            font-size: 60px;
            font-weight: 400;
            line-height: 44.104px;
            text-align: left;
            margin: 480px 0 20px 30px;
            .customRespond(0, 767px, {
                margin: 420px 0 0 10px;

            }
            );

        }
        div p {
            font-family: @textlight;
            color: @bkgcolor;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            margin-left: 30px;
            .customRespond(0, 767px, {
                margin-left: 10px;

            }
            );
        }


    }

}

.deluxe {
    .paddingSiteMixin();
    .respondTo(small-desktops, {
        padding: 10px;
    }
    );
    .respondTo(tablets, {
        padding: 10px;
    }
    );
    .customRespond(0, 767px, {
        padding: 10px;
    }
    );

    h2 {
        font-family: @textFontBold;
        color: #000000;
        font-size: 80.01px;
        font-weight: 400;
        text-align: center;
        margin: 100px 0 70px 0;
        .respondTo(small-desktops, {
            margin: 20px 0 20px 0;

        }
        );
        .customRespond(0, 767px, {
            font-size: 70px;
            line-height: 60px;
            margin: 20px 0 20px 0;
        }
        );

        &:hover {
            transform: perspective(350px) translateZ(-150px);
            transition-duration: 1s;
        }
    }

    .deluxe-rooms {
        display: grid;
        grid-template-columns: 242px 579px 242px;
        grid-gap: 30px;
        margin-bottom: 40px;
        grid-template-areas: "deluxe-1 deluxe-2 deluxe-3" "deluxe-4 deluxe-2 deluxe-5";
        .respondTo(small-desktops, {
            grid-gap: 10px;
            grid-template-columns: 242px 450px 242px;
            justify-content: center;
        }
        );
        .respondTo(tablets, {
            grid-template-columns: 242px 242px;
            grid-template-areas: "deluxe-2 deluxe-2" "deluxe-1 deluxe-3" "deluxe-4 deluxe-5";
            grid-gap: 20px;
            justify-content: center;

        }
        );
        .customRespond(0, 767px, {
            padding: 10px;
            grid-gap: 10px;
            grid-template-columns: 1fr;
            justify-content: center;
            grid-template-areas: "deluxe-1" "deluxe-2" "deluxe-3" "deluxe-4" "deluxe-5";
        }
        );

        h3 {
            font-family: @textlight;
            color: #010101;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            margin-top: 20px
        }
        p {
            font-family: @textlight;
            color: #010101;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;

        }

        .deluxe-1 {
            grid-area: deluxe-1;
            width: 242px;
            height: 250px;
            .customRespond(0, 767px, {
                width: 100%;
                height: 100%;

            }
            );

        }
        .deluxe-2 {
            grid-area: deluxe-2;
            width: 579px;
            position: relative;

            .respondTo(small-desktops, {
                width: 450px;
            }
            );
            .customRespond(0, 767px, {
                width: 100%;
                height: 70%;
                background-size: cover;
                padding-top: 10px;

                
                

            }
            );

            img {
                width: 579px;
                height: 438px;
                .respondTo(small-desktops, {
                    width: 450px;
                    height: auto;
                }
                );
                .customRespond(0, 767px, {
                    width: 100%;
                    height: 100%;
                    
                }
                );
            }

        }

        &:hover img {
            transform: rotateY(-90deg);
            transition-duration: .5s;
            transition-timing-function: linear;
        }
        .deluxe-inside {
            width: 579px;
            height: 438px;
            transform: rotateY(90deg);
            padding: 20px;
            text-align: justify;
            box-sizing: border-box;
            font-family: @textlight;
            font-size: 18px;
            color: #010101;
            background-color: #D8BFD8;
            position: absolute;
            left: 0;
            top: 0;

            .respondTo(small-desktops, {
                width: 450px;
                height: auto;
                font-size: 14px;
            }
            );
            .customRespond(0, 767px, {
                width: 100%;
                height: 100%;
                font-size: 10px;
                overflow: hidden;
                
            }
            );

        }
        &:hover .deluxe-inside {
            transform: rotateY(0deg);
            transform-style: preserve-3d;
            transition-delay: .5s;
            transition-duration: .10s;
            transition-timing-function: linear;
        }
    }
    .deluxe-3 {
        grid-area: deluxe-3;
        width: 242px;
        height: 250px;
        .customRespond(0, 767px, {
            width: 100%;
            height: 100%;
            

        }
        );
        .respondTo(phones, {
                margin-top: 60px;
            }
            );

    }
    .deluxe-4 {
        grid-area: deluxe-4;
        width: 242px;
        height: 250px;
        .customRespond(0, 767px, {
            width: 100%;
            height: 100%;
        }
        );
    }
    .deluxe-5 {
        grid-area: deluxe-5;
        width: 242px;
        height: 250px;
        .customRespond(0, 767px, {
            width: 100%;
            height: 100%;
        }
        );
    }

    a {
        display: block;
        font-family: @textFont;
        color: #4e26fd;
        font-size: 23.98px;
        font-weight: 400;
        transform: scaleX(1.0015);
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        border: 2px solid #4e26fd;
        box-sizing: border-box;
        width: 169px;
        height: 48px;
        margin-left: 485px;
        padding-top: 3px;

        &:hover {
            border-color: #6A5ACD;
            cursor: pointer;
            transform: scale(1.1, 1.1);
            transition-duration: 1s;

        }
        .respondTo(small-desktops, {
            margin-left: 400px;

        }
        );
        .respondTo(tablets, {
            margin-left: 300px;
        }
        );
        .customRespond(0, 767px, {
            margin-left: 20px;

        }
        );
    }
}

.winter-weather {
    background: url(../img/Layer8.jpg) no-repeat center center;
    background-size: cover;
    width: 1500px;

    height: 554px;
    margin-top: 95px;

    animation: winter-w 30s linear infinite 0s;
    .respondTo(small-desktops, {
        width: 100%;

    }
    );
    .customRespond(0, 991px, {
        width: 100%;
    }
    );

    @keyframes winter-w {
        0% {
            background: url(../img/Layer8.jpg) no-repeat center center;
            background-size: cover;
        }
        16% {
            background: url(../img/Layer8.1.jpg) no-repeat center center;
            background-size: cover;
        }
        33% {
            background: url(../img/Layer8.1.jpg) no-repeat center center;
            background-size: cover;
        }
        49% {
            background: url(../img/Layer8.2.jpg) no-repeat center center;
            background-size: cover;
        }
        66% {
            background: url(../img/Layer8.2.jpg) no-repeat center center;
            background-size: cover;
        }
        81% {
            background: url(../img/Layer8.4.jpg) no-repeat center center;
            background-size: cover;
        }
        100% {
            background: url(../img/Layer8.4.jpg) no-repeat center center;
            background-size: cover;
        }


    }


    .winter-weather-text {
        position: absolute;
        padding: 95px 180px 0 830px;
        width: 490px;
        .respondTo(small-desktops, {
            padding: 95px 0 0 400px;


        }
        );
        .respondTo(tablets, {
            padding: 95px 0 0 200px;


        }
        );
        .customRespond(0, 767px, {
            padding: 95px 0 0 10px;
            width: 80%;
        }
        );



        h2 {
            font-family: @textFontBold;
            color: #ffffff;
            font-size: 130px;
            line-height: 110px;
            font-weight: 400;
            text-align: left;
            text-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
            .customRespond(0, 991px, {
                font-size: 80px;
                line-height: 70px;
            }
            );



        }
        p {
            font-family: @textlight;
            color: @bkgcolor;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            text-shadow: 0 3px 0 #000000;
            margin: 30px 0;
        }
        a {
            display: block;
            background-color: #0000ff;
            width: 170px;
            height: 39px;
            font-family: @textFont;
            color: @bkgcolor;
            font-size: 17px;
            font-weight: 400;
            text-align: center;
            transform: scaleX(1.0015);
            text-decoration: none;
            text-transform: uppercase;
            padding-top: 12px;

            &:hover {
                border-color: #6A5ACD;
                cursor: pointer;
                transform: scale(1.1, 1.1);
                transition-duration: 1s;
            }


        }
    }
}


.news {
    margin-top: 100px;
    .paddingSiteMixin();
    .respondTo(small-desktops, {
        padding: 10px;
        margin-top: 50px;
    }
    );
    .respondTo(tablets, {
        padding: 10px;
        margin-top: 50px;

    }
    );
    .customRespond(0, 767px, {
        padding: 10px;
        margin-top: 50px;
    }
    );


    h2 {
        font-family: @textFontBold;
        color: #000000;
        font-size: 112px;
        font-weight: 400;
        line-height: 49.542px;
        text-align: center;
        margin-bottom: 80px;
        .respondTo(small-desktops, {
            margin-bottom: 50px;
        }
        );
        .customRespond(0, 767px, {
            margin-bottom: 50px;
            font-size: 70px;
        }
        );


        &:hover {
            transform: perspective(350px) translateZ(-150px);
            transition-duration: 1s;
        }


    }
    .news-wrap {
        display: grid;
        grid-template-columns: repeat(3, 353px);
        grid-gap: 40px;

        .respondTo(small-desktops, {
            padding: 10px;
            grid-template-columns: repeat(2, 353px);
            grid-gap: 30px;
            justify-content: center;

        }
        );
        .respondTo(tablets, {
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            justify-content: center;
        }
        );
        .customRespond(0, 767px, {
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }
        );

        h3 {
            font-family: @textlight;
            color: #010101;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-align: left;
            margin: 20px 0;
        }
        p {
            font-family: @textlight;
            color: #010101;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            margin-bottom: 10px;
        }
        div {
            img {
                width: 100%;
                    height: 100%;
            }
        }

    }
    div {
        a {
            display: block;
            font-family: @textFont;
            color: #4e26fd;
            font-size: 23.98px;
            font-weight: 400;
            transform: scaleX(1.0015);
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            border: 2px solid #4e26fd;
            box-sizing: border-box;
            width: 169px;
            height: 48px;
            margin-left: 485px;
            margin-top: 150px;
            padding-top: 3px;

            &:hover {
                border-color: #6A5ACD;
                cursor: pointer;
                transform: scale(1.1, 1.1);
                transition-duration: 1s;
            }
            .respondTo(small-desktops, {
                margin-left: 400px;

            }
            );
            .respondTo(tablets, {
                margin-left: 300px;
            }
            );
            .customRespond(0, 767px, {
                margin-left: 20px;

            }
            );
        }
    }

}

footer {
    margin-top: 75px;
    background-color: #252525;
    .paddingSiteMixin();
    .customRespond(0, 1199px, {
        padding: 10px;
    }
    );

    img {
        margin-top: 30px;
        .respondTo(small-desktops, {
            padding: 10px 0 10px 150px;


        }
        );
        .customRespond(0, 767px, {
            padding-left: 10px;
            

        }
        );

    }

    .contacts {
        display: grid;
        grid-template-columns: 245px 330px 200px;
        justify-content: space-between;
        .respondTo(small-desktops, {
            padding: 10px;
            grid-template-columns: 245px 330px 200px;
            justify-content: center;

        }
        );
        .respondTo(tablets, {
            padding: 10px;
            grid-template-columns: 230px 230px 245px;
            justify-content: center;

        }
        );
        .customRespond(0, 767px, {
            padding: 10px;
            grid-template-columns: 230px;
            grid-template-rows: 1fr 1fr 1fr;
            grid-gap: 20px;
            justify-content: center;

        }
        );

        .address {
            font-family: @textlight;
            color: @bkgcolor;
            font-size: 13.97px;
            font-weight: 300;

            p {
                margin-top: 20px;
            }
            a {
                color: @bkgcolor;

                &:hover {
                    color: #4e26fd;
                }
            }


        }
        .winter-list {
            font-family: @textFontBold;
            color: @bkgcolor;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            height: 130px;
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;

            p {
                margin-bottom: 10px;

                &:hover {
                    color: #4e26fd;
                }
            }

        }
        .networks {
            font-family: @textlight;
            color: @bkgcolor;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;


            .icon {
                display: inline-block;
                width: 12px;
                height: 22px;
                border: 1px solid @bkgcolor;
                margin-right: 6px;
                color: @bkgcolor;
                padding: 5px 10px;



                &:hover {
                    color: #4e26fd;
                    border: 1px solid #4e26fd;
                    padding: 5px 10px;
                }


                i {
                    color: @bkgcolor;
                    &:hover {
                        color: #4e26fd;

                    }




                }

            }

            p {
                margin-bottom: 20px;
            }
        }
    }



    .copy {
        font-family: @textlight;
        color: @bkgcolor;
        font-size: 13.97px;
        font-weight: 300;
        text-align: center;
        .customRespond(0, 767px, {
            padding: 10px;
            

        }
        );

        p {
            padding: 25px 0 25px 0;

        }
        img {
            width: 80%;
        }


    }
}
