body {
    padding: 0;
    margin: 0;
    background-color: #f3f2f1;
    color: #414142;
    width: 100%;
    font-size: 18px;
}

.result {
    text-align: center;
    font-weight: bold;
    color: red;
}

.resultOk {
    color: forestgreen !important;
}

h2 {
    font-size: 43px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    color: #f47840;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: left;

}

h4 {
    font-size: 25px;
    font-weight: 700;
    text-align: left;

}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.palindromeComment {
    font-size: 16px;
    padding-bottom: 10px;
}

button {
    display: block;
    text-decoration: none;
    height: 30px;
    width: 150px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #a89692;
    margin-top: 10px;
    color: @bkgColor;
    text-align: center;

}

button:hover {
    background: #b2b3b5;

}

input[type="text"] {
    widht: 20%;
    height: 20px;
    font-size: 16px;
}