@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

body {
    font-family: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
html,
body,
.container {
    height: 100%;
}
main {
    flex: 1;
}
.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 63px;
}

.menu {
    display: flex;
    list-style: none;
    margin-top: 57px;
}
.menu .hover-link:hover:not(.active-link) {
    border-bottom: 3px solid #8c8c8c;
}
.menu .hover-link:active:not(.active-link) {
    padding-bottom: 5px;
}
.menu a {
    padding: 10px 13px;
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
}

.menu .active-link {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.text-slider {
    margin-top: 283px;
    width: 488px;
}

.text-slider h4 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.text-slider h2 {
    color: #212121;
    font-size: 62px;
    line-height: 43px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 34px;
    letter-spacing: -0.03em;
}

.text-slider p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 32px;
}

.text-slider a {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    padding: 0px 31px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 22.5px;
}

.text-slider a:hover {
    background-color: #f8f8f8;
}

.text-slider a:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.circle-box {
    position: absolute;
    bottom: 19px;
    display: flex;
    width: 1170px;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    margin: 0 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin: 0;
}

.featured {
    padding-top: 120px;
    padding-bottom: 120px;
}

.featured-header {
    display: flex;
    justify-content: space-between;
}

.featured-header div a {
    display: inline-block;
    padding: 0 19px 19px 9px;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-align: left;

}

.featured-header div {
    border-bottom: 1px solid #6c6c6c;
}

.featured-header .featured-active-link {
    color: #212121;
    padding-bottom: 17px;
    border-bottom: 3px solid #212121;
}

.featured-header div a:hover {
    color: #212121;
}

.featured-header {
    display: flex;
    justify-content: space-between;

}

.explore {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

.featured-img {
    width: 270px;
    height: 270px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.product_a {
    position: relative;
}
.featured-hover {
    position: absolute;
    top: 0;
    left: 0;
    border-width: 1px;
    border-color: #9c9c9c;
    border-style: solid;
    background-color: #ffffff;
    opacity: 0.9;
    width: 268px;
    height: 268px;
    display: none;
}

.featured-hover p {
    color: #6c6c6c;
    font-size: 13.94px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}

.featured-hover h5 {
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 22px;
}

.featured-hover a {
    border-radius: 50.0px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 35px;
    display: block;
    text-align: center;
    color: #212121;
    font-size: 21.91px;
    font-weight: 700;
    text-decoration: none;
    padding-top: 10px;
    margin: 62px 110px 16px 108px;

}

.featured-products {
    display: flex;
    margin-top: 72px;
    justify-content: space-between;
}

.product_a:hover .featured-hover {
    display: block;
    position: absolute;
}
.promo-product {
    display: flex;
}
.promo-product div h4 {
color:  #1e88e5;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
    text-transform: uppercase;
    padding-top: 228px;
}
.promo-product div h2 {
color:  #212121;
font-size: 36px;
font-weight: 700;
text-align: left;
}
.promo-product div p {
color:  #6c6c6c;
font-size: 13.99px;
font-weight: 300;
line-height: 24px;
text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
}
.promo-product div a  {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    padding: 0px 31px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 22.5px;
}

.promo-product div a:hover {
    background-color: #f8f8f8;
}

.promo-product div a:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
}


.promo-content1 {
    width: 683px;
    height: 683px;
    background-image: url(img/promo-img1.jpg);
    padding-left: 50px;

}
.promo-content2 {
    width: 683px;
    height: 683px;
    background-image: url(img/promo-img.jpg);
    padding-left: 50px;
}
.trending {
    padding-top: 125px;
    padding-bottom: 122px;
    width: 1170px;

    
}
.trending-img {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;
    flex-direction: row;
   
}

.trending-img a {
     margin-bottom: 30px;
    
}
.trending-img a:hover {
    box-shadow: 0 0 10px #999;
    margin-bottom: 30px;
}
.trending-img-products {
     width: 370px;
    height: 370px;
}
.trending-products {
    color:  #212121;
font-size: 36px;
font-weight: 700;
text-align: left;
    text-decoration: none;
}
.trending-links {
    display: flex;
    justify-content: space-between;
}
.slider1 {
    width: 1170px;
    height: 800px;
    background-image: url(img/slider.jpg);
    position: relative;
}
.slider1-text h4 {
color:  #e53935;
font-size: 18px;
font-weight: 700;
text-align: left;
    text-transform: uppercase;
    padding-top: 287px;
    margin-bottom: 22px;
}
.slider1-text h2 {
color:  #212121;
font-size: 62px;
font-weight: 100;
line-height: 72px;
text-align: left;
     text-transform: uppercase;
}
.slider1-text p {
color:  #6c6c6c;
font-size: 14px;
font-weight: 300;
line-height: 24px;
text-align: left;
   margin-bottom: 34px;
}
.slider1-text a {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    padding: 0px 31px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 22.5px;
}

.slider1-text a:hover {
    background-color: #f8f8f8;
}

.slider1-text a:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
.exclusive {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding: 120px 98px 120px 98px;
}
.exclusive-product {
    background-image: url(img/product-1-lg.jpg);
    width: 570px;
height: 570px;
    position: relative;
}

.exclusive-img {
    width: 572px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.exclusive-product h4 {
color:  #1e88e5;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
    text-transform: uppercase;
    padding-top: 174px;
    padding-left: 30px;
}
.exclusive-product h2 {
color:  #212121;
font-size: 36px;
font-weight: 700;
text-align: left;
    padding-left: 30px;
} 
.exclusive-product p {
color:  #6c6c6c;
font-size: 13.99px;
font-weight: 300;
line-height: 24px;
text-align: left;
    padding-left: 30px;
    padding-bottom: 22px;
    padding-top: 15px;
}

.exclusive-product a {
    background-color: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    padding: 0px 31px;
    height: 45px;
    color: #212121;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 22.5px;
    margin-left: 30px;
}

.exclusive-product a:hover {
    background-color: #f8f8f8;
}

.exclusive-product a:active {
    position: relative;
    top: 2px;
    box-shadow: 0 0 4.85px 0.15px rgba(33, 33, 33, 0.35);
}
.exclusive-img-product {
    width: 270px;
height: 270px;
}
.mobile-app {
    background-image: url(img/back-img.jpg);
    height: 516px;
   
}
.mobile-app h4 {
color:  #6c6c6c;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-align: left;
    text-transform: uppercase;
    padding-top: 120px;
}
.mobile-app h3 {
color:  #212121;
font-size: 62px;
font-weight: 100;
line-height: 72px;
text-align: left;
    text-transform: uppercase;
}
.mobile-app p {
color:  #6c6c6c;
font-size: 22px;
font-weight: 300;
line-height: 24px;
text-align: left;
    padding-bottom: 24px;
}
footer {
       padding-top: 120px;
    background-color: #f7f7f7;
}
footer h2 {
color:  #6c6c6c;
font-size: 18px;
padding-bottom: 25px;
text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.contact {
width: 240px;
}
.info {
width: 435px;
}
.in-touch-form {
    width: 375px;
}
.contact p {
color:  #212121;
font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: left;
}

.in-touch-form p {
    color:  #212121;
font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: left;
    padding-bottom: 21px;
}
.info a {
color:  #212121;
font-size: 14px;
font-weight: 700;
line-height: 25px;
text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}
.info a:hover {
    color:  #6c6c6c;
}
.footer-form {
    border-width: 1px;
border-color:  #d9dee1;
border-style: solid;
background-color:  #ffffff;
width: 368px;
height: 46px;
    display: flex;
    justify-content: space-between;

}
input[type="text"] {
    width: 300px;
height: 80x;
    padding: 0 0 3px 20px;
    border: none;
    color:  #6c6c6c;
font-size: 14px;
font-weight: 300;
text-align: left;
}
input[type="image"] {
    padding: 12px 15px 0 0;
    width: 25px;
    height: 22px;
}
.footer-contact {
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 30px;
}
.social p {
color:  #6c6c6c;
font-size: 12px;
font-weight: 700;
text-align: left;
    text-transform: uppercase;
}
.cols {
    display: flex;
    justify-content: space-between;
}
.icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: whitesmoke;
   margin-right: 6px;
}
.s-links {
    display: flex;
    justify-content: center;
        
}
.slider2 {
    background-image: none;
    background-color: #f5f5f5;
    height: 360px;
}
.topic{
    font-size: 62px;
    color: #212121;
    text-align: left;
    font-weight: 300;
    margin-top: 168px;
}
.block-address{
    display: flex;
    justify-content: space-between;
    padding: 71px 98px 122px 98px;
}
.container-address {
    box-sizing: border-box;
    width: 370px;
    height: 370px;
    border: 1px solid #212121;
    text-align: center;
    padding: 48px 49px 63px 49px;
    letter-spacing: -0.5px;
}
.container-address img{
    transition: 0.5s;
}
.container-address img:hover{
    transform: scale(1.15, 1.15);
}
.container-address img:active{
    transform: scale(0.85, 0.85);
}
.container-address h4{
    font-size: 22px;
    color: #212121;
    margin-top: 34px;
}

.container-address div{
    margin-top: 23px;
}
.container-address h6{
    font-size: 14px;
    color: #6c6c6c;
    font-weight: 700;
    margin-top: 10px;
}

.container-address p{
    font-size: 14px;
    color: #212121;
    font-weight: 700;
}
.container-address p:last-child{
    font-weight: 700;
    color: #6c6c6c;
    font-weight: 400;
}